{% set title = "О нас" %}

{% extends "template/base.html" %}

{% block content %}

	<article class="page-text center">

		<time datetime="2024-03-01" class="before">
			Version 1.2, 1 March 2024
		</time>

		<h1 class="page-text__title h1">
			{{ title }}
		</h1>

		<div class="page-text__body">

			<h2>
				Legal Entity
			</h2>

			<p>
				Fenilux Soluções Financeiras Ltda (“Fenilux”) is a limited liability company incorporated in Brazil, under CNPJ No. 44.626.880/0001-81, with a registered office at Rua Manoel da Nóbrega, 1280, CEP 04001-902, Paraíso, São Paulo/SP.
			</p>

			<p>
				As a regulated entity, Fenilux is required to comply with all applicable laws, regulations, notices and guidelines issued by the relevant government and regulatory authority.
			</p>

			<h2>
				Disclaimer
			</h2>

			<p>
				The content published on this website has been carefully researched. However, the Fenilux cannot guarantee the actuality, correctness, completeness or quality of the information provided. The Fenilux accepts no liability for any indirect, mediate, incidental or consequential damages arising from or in connection with the use of this website.
			</p>

			<p>
				All offers are non-binding. The author explicitly reserves the right to amend, change or delete some of the pages or the entire offer without prior notice or cease publication temporarily or permanently. Separately agreed contractual obligations remain unaffected.
			</p>

			<h2>
				References and (hyper)links
			</h2>

			<p>
				The content of linked websites or other referenced online resources do not necessarily reflect the opinions and intentions of the Fenilux. We do not take responsibility and do not assume liability for such content. The Fenilux assures that to his knowledge, at the time of posting a link, the respective websites and online resources were free from illegal content and dissociates itself explicitly from all content, especially those that have changed after the time of setting the link.
			</p>

			<h2>
				Copyright, trademarks and designs
			</h2>

			<p>
				Fenilux is the exclusive owner of all personal rights, exploitation rights, trademark rights and rights in the sense of design protection of this website's contents and the optical and technical design including the source code.
			</p>

			<p>
				All creations, trademarks and patents owned by a third party have been legally licensed. If necessary, the copyright owners and holders are named in compliance with those licenses.
			</p>

			<h2>
				Severability clause
			</h2>

			<p>
				If parts of the conditions, legal notices or disclaimers of liability are completely or partially legally void, the validity of the remaining clauses remains unaffected.
			</p>

			<h2>
				Governing law and dispute resolution
			</h2>

			<p>
				Although our website can be accessed from numerous places and countries around the world, that shall not be construed as consent to abide by that local jurisdiction. Any relationship between you and us arising out of these terms of use shall be governed by the laws of Brazil.
			</p>

			<p>
				All disputes, arising out of these terms of use or related to them, including those arising out of or concerning its interpretation, invalidity, performance or termination, shall be referred for resolution to the competent courts in Brazil.
			</p>

		</div>

	</article>

{% endblock %}