{% set title = "About Us" %}

{% extends "template/base.html" %}

{% block content %}

	<div class="page-text center">

		<div class="box page-text__bg-{{ folder }}">

			<div class="box__inner">

				<article>

					<h1 class="page-text__title h1">
						{{ title }}
					</h1>

					<div class="page-text__body">

						<p>
							Welcome to ZeroOne, a global leader in revolutionizing online gaming and providing unparalleled experiences for gamers worldwide. Our platform offers diverse games, including Dota 2, Counter-Strike, Hearthstone, and many more, catering to the varied interests of our players around the world.
						</p>

						<h2>
							Our Mission
						</h2>

						<p>
							At ZeroOne, our mission is clear: to create an inclusive and engaging gaming environment where players can interact, compete, and thrive regardless of geographical boundaries. We believe in the power of gaming to unite people from different cultures and walks of life, fostering friendships and camaraderie that transcend borders.
						</p>

						<h2>
							Future Plans
						</h2>

						<p>
							As a global company committed to innovation and inclusivity, we are excited to announce our plans for tokenizing ZeroOne, enabling people around the world to become part of our journey. Through tokenization, we aim to democratize ownership and allow our global community to have a stake in ZeroOne's success. Whether you're in New York, Tokyo, Rio de Janeiro, or Moscow, you'll soon be able to participate in shaping the future of online gaming.
						</p>

						<p>
							Stay tuned for updates as we embark on this innovative journey together. Join us at ZeroOne and experience the future of online gaming firsthand. Together, we can redefine the way games are played globally and connect gamers worldwide like never before.
						</p>

					</div>

				</article>

				<form action="/send/" class="form-feedback form box">

					<input type="hidden" name="subject" value="feedback">
					<input type="hidden" name="redirect" value="{{ auth }}">

					<div class="box__inner">

						<p class="form__title h4">
							Stay Connected
						</p>

						<div class="form__inputbox">

							<label for="form-feedback" class="form__label">
								E-mail
							</label>

							<input class="input" name="email" placeholder="Enter Data" required="required" id="form-feedback" type="email">

						</div>

						<div class="form__foot">

							<button class="btn btn--orange form__submit">
								Subscribe
							</button>

						</div>

					</div>

				</form>

			</div>

		</div>

	</div>

{% endblock %}