{% set title = "О нас" %}

{% set folder = "about-us" %}

{% extends "template/base.html" %}

{% block content %}

	<div class="page-text center">

		<div class="box page-text__bg-{{ folder }}">

			<div class="box__inner">

				<article>

					<h1 class="page-text__title h1">
						{{ title }}
					</h1>

					<div class="page-text__body">

						<p>
							Добро пожаловать в ZeroOne, глобального лидера в революционизации онлайн-гейминга и предоставлении непревзойденных впечатлений для геймеров по всему миру. Наша платформа предлагает разнообразные игры, включая Dota 2, Counter-Strike, Hearthstone и многие другие, учитывая разнообразные интересы наших игроков по всему миру.
						</p>

						<h2>
							Наша Миссия
						</h2>

						<p>
							В ZeroOne наша миссия ясна: создать инклюзивную и захватывающую игровую среду, где игроки могут взаимодействовать, соревноваться и процветать независимо от географических границ. Мы верим в силу гейминга для объединения людей из различных культур и сфер жизни, способствуя дружбе и товариществу, которые преодолевают границы.
						</p>

						<h2>
							Планы на Будущее
						</h2>

						<p>
							Как глобальная компания, посвященная инновациям и инклюзивности, мы рады объявить о наших планах по токенизации ZeroOne, позволяя людям по всему миру стать частью нашего пути. Через токенизацию мы стремимся демократизировать владение и дать возможность нашему глобальному сообществу иметь долю в успехе ZeroOne. Будь вы в Нью-Йорке, Токио, Рио-де-Жанейро, или в Москве, скоро вы сможете принять участие в формировании будущего онлайн-гейминга.
						</p>

						<p>
							Следите за нашими обновлениями, поскольку мы вместе отправляемся на этот новаторский путь. Присоединяйтесь к нам в ZeroOne и испытайте будущее онлайн-гейминга на себе. Вместе мы можем переопределить способы игры в мире и связать геймеров по всему миру, как никогда прежде.
						</p>

					</div>

				</article>

				<form action="/send/" class="form-feedback form box">

					<input type="hidden" name="subject" value="feedback">
					<input type="hidden" name="redirect" value="{{ auth }}">

					<div class="box__inner">

						<p class="form__title h4">
							Оставайся на связи
						</p>

						<div class="form__inputbox">

							<label for="form-feedback" class="form__label">
								E-mail
							</label>

							<input class="input" name="email" placeholder="Введите данные" required="required" id="form-feedback" type="email">

						</div>

						<div class="form__foot">

							<button class="btn btn--orange form__submit">
								Подписаться
							</button>

						</div>

					</div>

{% raw %}

					<script type="text/html" class="form-template-done">

						<div class="modal-done__ico">

							<svg class="modal-done__ico-ok" width="72" height="72" viewBox="0 0 72 72">
								<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m47.25 29-14 14-7-7"/>
							</svg>

						</div>

						<div class="modal-done__title h6">
							Спасибо за подписку!
						</div>

						<div class="modal-done__message">
							Теперь Вы всегда будете в курсе последних новостей и событий.
						</div>

					</script>

{% endraw %}

				</form>

			</div>

		</div>

	</div>

{% endblock %}