<!DOCTYPE html>
<html lang="{{ lang }}" prefix="og: https://ogp.me/ns#">
<head>

	<meta charset="utf-8">

	<title>{{ title }}</title>

	<link href="https://connect.facebook.net/en_US/fbevents.js" rel="preconnect">

	<link href="/fonts/inter-v13-cyrillic_latin-500.woff2" rel="preload" as="font" type="font/woff2" crossorigin>
	<link href="/fonts/unbounded-v7-cyrillic_latin-500.woff2" rel="preload" as="font" type="font/woff2" crossorigin>

	<link href="{{ url }}/favicon.svg" rel="icon" type="image/svg+xml">
	<link href="{{ url }}/favicon.png" rel="apple-touch-icon">

	<meta name="format-detection" content="telephone=no">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="{{ description | default(site) }}">
	<meta name="theme-color" content="#1C1C1E">

	<meta property="og:locale" content="{{ lang }}">
	<meta property="og:site_name" content="{{ site }}">
	<meta property="og:url" content="{{ url }}{{ subdomain }}{% if folder %}/{{ folder }}{% endif %}">
	<meta property="og:type" content="{{ ogType | default('website') }}">
	<meta property="og:title" content="{{ title }}">
	<meta property="og:description" content="{{ description | default(site) }}">

	<meta property="og:image" content="{{ url }}/og.png">
	<meta property="og:image:secure_url" content="{{ url }}/og.png">
	<meta property="og:image:width" content="1200">
	<meta property="og:image:height" content="630">
	<meta property="og:image" content="{{ url }}/og-256.png">
	<meta property="og:image:width" content="256">
	<meta property="og:image:height" content="256">

{% for _lang in langs -%}
{% if _lang !== lang %}
	<link rel="alternate" hreflang="{{ _lang }}" href="/{% if _lang !== 'en' %}{{ _lang }}/{% endif %}{% if folder %}{{ folder }}/{% endif %}">
{% endif %}
{%- endfor %}

{% for item in preloadImage %}
	<link href="{{ item.img }}" imagesrcset="{{ item.imagesrcset }}" rel="preload" as="image" media="{{ item.media }}">
{% endfor %}

	<link href="/css/styles.css" rel="stylesheet">

	<script defer src="/js/scripts.js"></script>

<script>
!function(f,b,e,v,n,t,s)
{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};
if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];
s.parentNode.insertBefore(t,s)}(window, document,'script',
'https://connect.facebook.net/en_US/fbevents.js');
fbq('init', '522424920501100');
fbq('track', 'PageView');
</script>

</head>

<body>

<div class="wrapper">

{% include "template/header.html" %}

	<main class="main">

{% block content %}{% endblock %}

	</main>

{% include "template/footer.html" %}

</div>

</body>
</html>