	<footer class="footer">

		<div class="center">

			<div class="box">

				<div class="box__inner">

					<div class="footer__flex">

						<div class="footer__logo">

							<a href="{{ subdomain }}/">

								<img src="/img/logo.svg" width="145" height="20" alt="{{ site }} logo">

							</a>

						</div>

						<hr>

						<nav class="footer__menu">

							<ul>
								<li><a href="{{ subdomain }}/terms-of-use/">{{ translate.MENU.TERMS_OF_USE[lang] }}</a></li>
								<li><a href="{{ subdomain }}/privacy-police/">{{ translate.MENU.PRIVACY_POLICE[lang] }}</a></li>
								<li><a href="{{ subdomain }}/about-us/">{{ translate.MENU.ABOUT_US[lang] }}</a></li>
							</ul>

						</nav>

						<p class="footer__copyright">
							© Zeroone 2024
						</p>

					</div>

				</div>

			</div>

		</div>

	</footer>