	<footer class="footer">

		<div class="center">

			<div class="box">

				<div class="box__inner">

					<div class="footer__flex">

						<div class="footer__logo">

							<a href="/">

								<img src="/img/logo.svg" width="145" height="20" alt="{{ site }} logo">

							</a>

						</div>

						<nav class="footer__menu">

							<ul>
								<li><a href="/">Политика конфиденциальности</a></li>
							</ul>

						</nav>

						<div class="footer__social">

{% include "template/social.html" %}

						</div>

						<p class="footer__copyright">
							© Zeroone 2024
						</p>

					</div>

				</div>

			</div>

		</div>

	</footer>