	<header class="header">

		<div class="center">

			<div class="box">

				<div class="box__inner">

					<div class="header__flex">

						<div class="header__logo">

							<a href="/">

								<img src="/img/logo.svg" width="145" height="20" alt="{{ site }} logo">

							</a>

						</div>

						<nav class="header__menu">

							<ul>
								<li class="is-current"><a href="/">Главная</a></li>
								<li><a href="/">Как это работает</a></li>
								<li><a href="/">Следи за нами</a></li>
							</ul>

						</nav>

						<div class="header__user">

							<button class="btn btn--orange" type="button" data-modal="login">
								Войти
							</button>

						</div>

					</div>

				</div>

			</div>

		</div>

	</header>