	<header class="header">

		<div class="center">

			<div class="box">

				<div class="box__inner">

					<div class="header__flex">

						<div class="header__logo">

							<a href="{{ subdomain }}/">

								<img src="/img/logo.svg" width="145" height="20" alt="{{ site }} logo">

							</a>

						</div>

{% include "template/lang.html" %}

						<nav class="header__menu">

							<ul>
								<li>
									<a href="{{ subdomain }}/">
										{{ translate.FORM.TITLE[lang] }}
									</a>
								</li>
								<li>
									<a href="{{ subdomain }}{% if folder %}/{% endif %}#recent-games">
										{{ translate.RECENT_GAMES.TITLE[lang] }}
									</a>
								</li>
								<li>
									<a href="{{ subdomain }}{% if folder %}/{% endif %}#how-work">
										{{ translate.HOW_WORK.TITLE[lang] }}
									</a>
								</li>
							</ul>

						</nav>

						<div class="header__user">

							<a class="btn btn--orange" href="{{ auth }}">
								{{ translate.MENU.LOGIN[lang] }}
							</a>
<!--
							<button class="btn btn--orange" type="button" data-modal="login">
								Войти
							</button> -->

						</div>

					</div>

				</div>

			</div>

		</div>

	</header>