	<div class="modal" id="modal">

		<div class="modal__box">

			<form action="/form/login.php" class="modal__item modal__item--login form">

				<h3 class="form__title h4">
					Войти
				</h3>

				<div class="form__inputbox">

					<label for="modal-login-name" class="form__label">
						Логин
					</label>

					<input class="input" name="name" placeholder="Введите данные" required="required" id="modal-login-name">

				</div>

				<div class="form__inputbox">

					<label for="modal-login-password" class="form__label">
						Пароль
					</label>

					<input class="input" name="password" placeholder="Введите данные" required="required" id="modal-login-password" type="password">

				</div>

				<div class="form__recovery">

					<button class="button" type="button" data-modal="recovery">
						Забыл пароль
					</button>

				</div>

				<div class="form__foot">

					<button class="btn btn--orange form__submit">
						Войти
					</button>

					<button class="btn btn--gray" type="button" data-modal="reg">
						Регистрация
					</button>

				</div>

			</form>

			<aside class="modal__item modal__item--done">

				<div class="modal-done">

					<div class="modal-done__ico">

						<svg width="68" height="68" viewBox="0 0 68 68">
							<path stroke="#161616" stroke-linecap="round" stroke-width="4" d="m25.5 28.33 10.6 7.95a1 1 0 0 0 1.34-.14l19.23-21.97"/>
							<path stroke="#9E9C94" stroke-linecap="round" stroke-width="4" d="M59.5 34A25.5 25.5 0 1 1 40.6 9.37"/>
						</svg>

						<svg class="hide" width="68" height="68" viewBox="0 0 68 68">
							<circle cx="34" cy="34" r="26" stroke="#9E9C94" stroke-width="4"/>
							<rect x="32" y="20" width="4" height="20" rx="2" fill="#161616"/>
							<rect x="32" y="44" width="4" height="4" rx="2" fill="#161616"/>
						</svg>

					</div>

					<div class="modal-done__title h3">

					</div>

					<div class="modal-done__message">

					</div>

					<div class="modal-done__btn">

						<button type="button" class="modal__close btn btn--dark">
							{% if lang === "en" %}Close{% else %}Закрыть{% endif %}
						</button>

					</div>

				</div>

			</aside>

			<button type="button" class="modal__close modal__close-btn button" aria-label="Закрыть">

				<svg width="16" height="16" viewBox="0 0 16 16">
					<path stroke="#fff" stroke-linecap="square" stroke-linejoin="round" stroke-width="1.5" d="m12.5 4-8 8M12.5 12l-8-8"/>
				</svg>

			</button>

		</div>

	</div>