	<div class="modal" id="modal">

		<div class="modal__box">

			<form action="/form/login.php" class="modal__item modal__item--login form box">

				<div class="box__inner">

					<h3 class="form__title h4">
						Войти
					</h3>

					<div class="form__inputbox">

						<label for="modal-login-name" class="form__label">
							Логин
						</label>

						<input class="input" name="name" placeholder="Введите данные" required="required" id="modal-login-name">

					</div>

					<div class="form__inputbox">

						<label for="modal-login-password" class="form__label">
							Пароль
						</label>

						<input class="input" name="password" placeholder="Введите данные" required="required" id="modal-login-password" type="password">

					</div>

					<div class="form__recovery">

						<button class="button" type="button" data-modal="recovery">
							Забыл пароль
						</button>

					</div>

					<div class="form__foot">

						<button class="btn btn--orange form__submit">
							Войти
						</button>

						<button class="btn btn--grey" type="button" data-modal="reg">
							Регистрация
						</button>

					</div>

				</div>

			</form>

			<aside class="modal__item modal__item--done box">

				<div class="box__inner">

					<div class="modal-done">

						<div class="modal-done__ico">

							<svg width="72" height="72" viewBox="0 0 72 72">
								<path fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m47.25 29-14 14-7-7"/>
							</svg>

						</div>

						<div class="modal-done__title h6">
							Ваша заявка отправлена!
						</div>

						<div class="modal-done__message">
							Спасибо, что решили воспользоваться нашим сервисом! В ближайшее время с вами свяжется наш менеджер.
						</div>

					</div>

				</div>

			</aside>

			<button type="button" class="modal__close modal__close-btn button" aria-label="Закрыть">

				<svg width="16" height="16" viewBox="0 0 16 16">
					<path stroke="#fff" stroke-linecap="square" stroke-linejoin="round" stroke-width="1.5" d="m12.5 4-8 8M12.5 12l-8-8"/>
				</svg>

			</button>

		</div>

	</div>