{% set title = "Cookie and Privacy Policy" %}

{% extends "template/base.html" %}

{% block content %}

	<article class="page-text center">

		<time datetime="2024-03-11" class="before">
			Version 1.4, 11 March 2024
		</time>

		<h1 class="page-text__title h1">
			{{ title }}
		</h1>

		<div class="page-text__body">

			<h2>
				Cookie Policy for Fenilux
			</h2>

			<p>
				At Fenilux, one of our main priorities is the privacy of our visitors. This Cookie Policy document contains types of information that is collected and recorded by Fenilux and how we use it.
			</p>

			<h2>
				What Are Cookies
			</h2>

			<p>
				Cookies are small text files that are used by websites to make a user's experience more efficient. The law states that we can store cookies on your device if they are strictly necessary for the operation of this site. For all other types of cookies, we need your permission.This site uses different types of cookies. Some cookies are placed by third-party services that appear on our pages.
			</p>

			<h2>
				How We Use Cookies
			</h2>

			<p>
				We use cookies for a variety of reasons detailed below. Unfortunately, in most cases, there are no industry standard options for disabling cookies without completely disabling the functionality and features they add to this site. It is recommended that you leave on all cookies if you are not sure whether you need them or not in case they are used to provide a service that you use.
			</p>

			<h2>
				The Cookies We Set
			</h2>

			<ul>

				<li>
					Site Preferences Cookies: to provide you with a great experience on this site, we provide the functionality to set your preferences for how this site runs when you use it. In order to remember your preferences, we need to set cookies so that this information can be called whenever you interact with a page is affected by your preferences.
				</li>

				<li>
					Third-Party Cookies: in some special cases, we also use cookies provided by trusted third parties. The following section details which third party cookies you might encounter through this site.
				</li>

				<li>
					Google Analytics: this cookie allows us to understand the interaction of visitors with our website, and help us understand and improve the user experience. Google Analytics is Google's analytics tool that helps our website to understand how visitors engage with their properties. It may use a set of cookies to collect information and report website usage statistics without personally identifying individual visitors to Google.
				</li>

				<li>
					Google Tag Manager: this is a system we use to manage tags or scripts on our website. Google Tag Manager itself does not use cookies and does not collect personal information, but it triggers other tags that may collect data.
				</li>

			</ul>

			<h2>
				Your Choices Regarding Cookies
			</h2>

			<p>
				If you'd like to delete cookies or instruct your web browser to delete or refuse cookies, please visit the help pages of your web browser.
			</p>

			<p>
				Please note, however, that if you delete cookies or refuse to accept them, you might not be able to use all of the features we offer, you may not be able to store your preferences, and some of our pages might not display properly.
			</p>

			<p>
				For the Chrome web browser, please visit this page from Google: <a href="https://support.google.com/accounts/answer/32050" target="_blank" rel="nofollow noopener">https://support.google.com/accounts/answer/32050</a>
			</p>

			<p>
				For the Edge web browser, please visit this page from Microsoft: <a href="https://www.microsoft.com/en-us/edge/learning-center/how-to-manage-and-clear-your-cache-and-cookies?form=MA13I2" target="_blank" rel="nofollow noopener">https://www.microsoft.com/en-us/edge/learning-center/how-to-manage-and-clear-your-cache-and-cookies?form=MA13I2</a>
			</p>

			<p>
				For the Firefox web browser, please visit this page from Mozilla: <a href="https://support.mozilla.org/en-US/kb/delete-cookies-remove-info-websites-stored" target="_blank" rel="nofollow noopener">https://support.mozilla.org/en-US/kb/delete-cookies-remove-info-websites-stored</a>
			</p>

			<p>
				For the Safari web browser, please visit this page from Apple: <a href="https://support.apple.com/en-ie/guide/deployment/depf7d5714d4/web" target="_blank" rel="nofollow noopener">https://support.apple.com/en-ie/guide/deployment/depf7d5714d4/web</a>
			</p>

			<p>
				For any other web browser, please visit your web browser's official web pages.
			</p>

			<h2>
				Privacy Policy for Fenilux
			</h2>

			<p>
				We take your privacy seriously and treat all the personal data you give us with great care. We will not sell or swap your details with any other organization, ever, and we will keep your details private and secure. This Privacy Policy explains how we store and use the personal data you give to us. We will inform you of any update to our Privacy Policy that will affect you.
			</p>

			<h2>
				What personal data do we process
			</h2>

			<p>
				We will collect the following information:
			</p>

			<ul>

				<li>
					your name, address, and date of birth;
				</li>

				<li>
					your email address, phone number and details of the device you use (for example, your phone, computer or tablet);
				</li>

				<li>
					your registration information;
				</li>

				<li>
					details of your bank account, including the account number, sort code and IBAN;
				</li>

				<li>
					your country of residence and CPF (Cadastro de Pessoas Físicas) number
				</li>

			</ul>

			<h2>
				What is your legal basis for using my personal data
			</h2>

			<p>
				We must have a legal basis (a valid legal reason) for using your personal data. Our legal basis will be one of the following:
			</p>

			<ul>

				<li>
					Keeping to our contracts and agreements with you: we need certain personal data to provide our services and cannot provide them without this personal data.
				</li>

				<li>
					Fraud and security prevention in identification and authentication in electronic systems: on certain occasions we may collect your personal data, including sensitive personal data to prevent fraud and ensure security.
				</li>

			</ul>

			<h2>
				How do we use your data
			</h2>

			<p>
				Personal data collected and processed by us may be used for the following purposes:
			</p>

			<ul>

				<li>
					Checking your identity: Whenever you sign up with Fenilux, we’ll use your personal data to check your identity or the identity of joint account holders (as part of our KYC process);
				</li>

				<li>
					To keep our services up and running: we use your personal data to manage our website (including troubleshooting, data analysis, testing, research, statistical and survey purposes), and to make sure that content is presented in the most effective way for you and your device;
				</li>

				<li>
					Authenticate you as an authorized user of our services when necessary (for example, if you contact our customer support or social media teams);
				</li>

				<li>
					Allow you to take part in interactive features of our services;
				</li>

				<li>
					Meet our contractual and legal obligations relating to any products or services you use
				</li>

				<li>
					Tell you about changes to our services;
				</li>

				<li>
					Help keep our website safe and secure;
				</li>

				<li>
					Protecting against fraud;
				</li>

				<li>
					Marketing and providing products and services that might interest you.
				</li>

			</ul>

			<h2>
				What are your rights
			</h2>

			<p>
				You have several rights in relation to your personal data. These include accessing your data, correcting any mistakes, having your data erased, restricting the processing of your data and objecting to the processing of your data. If your personal details change, please help us keep your information up to date by notifying us. You can also request access to any information we hold about you at any time by writing to Fenilux.
			</p>

			<h2>
				Changes to this policy
			</h2>

			<p>
				We may change or update this policy from time to time so please check this page periodically. We will inform you of any update to our Privacy Policy that will affect you.
			</p>

			<h2>
				More Information
			</h2>

			<p>
				For more information, you can contact us through email: <a href="mailto:info@Fenilux.io">info@Fenilux.io</a>
			</p>

			<p>
				By using our website, you hereby consent to our Cookie and Privacy Policy and agree to its terms.
			</p>

		</div>

	</article>












{% endblock %}