{% set title = "Privacy Policy" %}

{% extends "template/base.html" %}

{% block content %}

	<div class="page-text center">

		<div class="box page-text__bg-{{ folder }}">

			<div class="box__inner">

				<article>

					<h1 class="page-text__title h1">
						{{ title }}
					</h1>

					<div class="page-text__body">

						<time class="page-text__date" datetime="2024-01-11">
							Last Updated: <span class="nowrap">January 11, 2024</span>
						</time>

						<p>
							Welcome to ZeroOne, your premier provider of online games for Dota 2, Counter-Strike, Hearthstone, and many others. At ZeroOne, we are committed to protecting your privacy and ensuring the security of your personal information. This Privacy Policy explains how we collect, use, and disclose information when using our online gambling services.
						</p>

						<p>
							By using the ZeroOne website or services, you agree to the terms of this Privacy Policy. If you do not agree with any part of this Privacy Policy, please do not use our website or services.
						</p>

						<h2>
							Information We Collect
						</h2>

						<p>
							We may collect personal information that you voluntarily provide to us when interacting with our website or services. This may include:
						</p>

						<ul>

							<li>
								Contact information such as name, email address, phone number, and mailing address.
							</li>

							<li>
								Account information such as username, password, and other credentials used to access our services.
							</li>

							<li>
								Payment information such as credit card details or other payment methods.
							</li>

							<li>
								Information you provide when contacting customer support or for other inquiries.
							</li>

						</ul>

						<p>
							Мы также можем автоматически собирать неперсонифицированную информацию, когда вы посещаете наш сайт или используете наши услуги, включая, но не ограничиваясь:
						</p>

						<ul>

							<li>
								IP-адрес
							</li>

							<li>
								Тип браузера
							</li>

							<li>
								Тип устройства
							</li>

							<li>
								Куки и аналогичные технологии
							</li>

						</ul>

						<h2>
							How We Use Your Information
						</h2>

						<p>
							We may use the collected information for the following purposes:
						</p>

						<ul>

							<li>
								Providing and improving our online gambling platform and services.
							</li>

							<li>
								Personalizing your gaming experience and content settings.
							</li>

							<li>
								Processing transactions and fulfilling orders.
							</li>

							<li>
								Interacting with you, including responding to inquiries and providing customer support.
							</li>

							<li>
								Sending marketing materials and newsletters.
							</li>

							<li>
								Detecting and preventing fraud and technical issues.
							</li>

							<li>
								Complying with legal and regulatory requirements.
							</li>

						</ul>

						<h2>
							Disclosure of Information
						</h2>

						<p>
							We may share your personal information with third parties in the following cases:
						</p>

						<ul>

							<li>
								With service providers and business partners.
							</li>

							<li>
								With law enforcement and government agencies when required.
							</li>

							<li>
								In case of merger or sale of assets.
							</li>

							<li>
								With your consent or direction.
							</li>

						</ul>

						<p>
							Мы не продаем и не сдаем в аренду вашу личную информацию третьим сторонам для их маркетинговых целей.
						</p>

						<h2>
							Data Security
						</h2>

						<p>
							We take reasonable measures to protect your personal information from unauthorized access and breaches.
						</p>

						<h2>
							Your Choices
						</h2>

						<p>
							You can choose not to provide certain information, which may limit access to some features.
						</p>

						<p>
							Вы также можете отказаться от получения рекламных электронных писем от нас, следуя инструкциям, предоставленным в электронном письме, или связавшись с нами напрямую.
						</p>

						<h2>
							Changes to Our Privacy Policy
						</h2>

						<p>
							We may update this Policy from time to time. Please review it regularly for updates.
						</p>

						<h2>
							Contact Us
						</h2>

						<p>
							If you have questions about this Policy, contact us at <a href="mailto:info@zeroone.bet">info@zeroone.bet</a>
						</p>

						<p>
							Thank you for trusting ZeroOne with your personal information.
						</p>

					</div>

				</article>

			</div>

		</div>

	</div>

{% endblock %}