{% set title = "Политика конфиденциальности" %}

{% set folder = "privacy-police" %}

{% extends "template/base.html" %}

{% block content %}

	<div class="page-text center">

		<div class="box page-text__bg-{{ folder }}">

			<div class="box__inner">

				<article>

					<h1 class="page-text__title h1">
						{{ title }}
					</h1>

					<div class="page-text__body">

						<time class="page-text__date" datetime="2024-01-11">
							Последнее обновление: <span class="nowrap">11 января 2024 года</span>
						</time>

						<p>
							Добро пожаловать в ZeroOne, ваш премьер-провайдер онлайн-игр для Dota 2, Counter-Strike, Hearthstone и многих других. В ZeroOne мы прилагаем все усилия для защиты вашей конфиденциальности и обеспечения безопасности вашей личной информации. В данной Политике конфиденциальности объясняется, как мы собираем, используем и раскрываем информацию при использовании наших услуг онлайн-гэмблинга.
						</p>

						<p>
							Пользуясь сайтом или услугами ZeroOne, вы соглашаетесь с условиями данной Политики конфиденциальности. Если вы не согласны с какой-либо частью данной Политики конфиденциальности, пожалуйста, не используйте наш сайт или услуги.
						</p>

						<h2>
							Информация, которую мы собираем
						</h2>

						<p>
							Мы можем собирать личную информацию, которую вы добровольно предоставляете нам при взаимодействии с нашим сайтом или услугами. Это может включать в себя:
						</p>

						<ul>

							<li>
								Контактную информацию, такую как имя, адрес электронной почты, номер телефона и почтовый адрес.
							</li>

							<li>
								Информацию об учетной записи, такую как имя пользователя, пароль и другие учетные данные, используемые для доступа к нашим услугам.
							</li>

							<li>
								Информацию о платежах, такую как данные кредитной карты или другие способы оплаты.
							</li>

							<li>
								Информацию, которую вы предоставляете нам при обращении за поддержкой клиентов или другими запросами.
							</li>

						</ul>

						<p>
							Мы также можем автоматически собирать неперсонифицированную информацию, когда вы посещаете наш сайт или используете наши услуги, включая, но не ограничиваясь:
						</p>

						<ul>

							<li>
								IP-адрес
							</li>

							<li>
								Тип браузера
							</li>

							<li>
								Тип устройства
							</li>

							<li>
								Куки и аналогичные технологии
							</li>

						</ul>

						<h2>
							Как мы используем вашу информацию
						</h2>

						<p>
							Мы можем использовать собранную информацию для следующих целей:
						</p>

						<ul>

							<li>
								Предоставление и улучшение нашей онлайн-платформы гэмблинга и услуг.
							</li>

							<li>
								Персонализация вашего игрового опыта и настройка контента.
							</li>

							<li>
								Обработка транзакций и выполнение ваших заказов.
							</li>

							<li>
								Взаимодействие с вами, включая ответы на ваши запросы и предоставление поддержки клиентам.
							</li>

							<li>
								Отправка вам рекламных материалов, новостных рассылок и других маркетинговых коммуникаций, связанных с нашими услугами.
							</li>

							<li>
								Обнаружение, предотвращение и решение технических проблем или мошеннических действий.
							</li>

							<li>
								Соблюдение законодательных и регуляторных требований.
							</li>

						</ul>

						<h2>
							Предоставление информации и раскрытие
						</h2>

						<p>
							Мы можем делиться вашей личной информацией с третьими сторонами в следующих случаях:
						</p>

						<ul>

							<li>
								С поставщиками услуг и деловыми партнерами, которые помогают нам в предоставлении нашей онлайн-платформы гэмблинга и услуг.
							</li>

							<li>
								С правоохранительными органами, государственными учреждениями или другими третьими сторонами, если мы считаем, что разглашение необходимо для соблюдения применимых законов, правил или судебных процессов.
							</li>

							<li>
								В связи с слиянием, приобретением или продажей всего или части наших активов.
							</li>

							<li>
								По вашему согласию или по вашему направлению.
							</li>

						</ul>

						<p>
							Мы не продаем и не сдаем в аренду вашу личную информацию третьим сторонам для их маркетинговых целей.
						</p>

						<h2>
							Безопасность данных
						</h2>

						<p>
							Мы предпринимаем разумные меры для защиты безопасности вашей личной информации и предотвращения несанкционированного доступа, раскрытия, изменения или уничтожения. Однако, пожалуйста, имейте в виду, что ни один метод передачи по интернету или электронного хранения не является 100% безопасным, и мы не можем гарантировать абсолютную безопасность.
						</p>

						<h2>
							Ваши выборы
						</h2>

						<p>
							Вы можете выбрать не предоставлять определенную личную информацию, но это может ограничить вашу возможность доступа к определенным функциям нашей онлайн-платформы гэмблинга или участию в наших услугах.
						</p>

						<p>
							Вы также можете отказаться от получения рекламных электронных писем от нас, следуя инструкциям, предоставленным в электронном письме, или связавшись с нами напрямую.
						</p>

						<h2>
							Изменения в нашей Политике конфиденциальности
						</h2>

						<p>
							Мы можем время от времени обновлять эту политику конфиденциальности, чтобы отражать изменения в наших практиках или применимых законах. Мы рекомендуем вам периодически просматривать эту Политику конфиденциальности на предмет обновлений или изменений.
						</p>

						<h2>
							Связь с нами
						</h2>

						<p>
							Если у вас есть какие-либо вопросы или замечания относительно этой Политики конфиденциальности или наших практик конфиденциальности, пожалуйста, свяжитесь с нами по адресу - <a href="mailto:info@zeroone.bet">info@zeroone.bet</a>
						</p>

						<p>
							Благодарим вас за доверие ZeroOne с вашей личной информацией.
						</p>

					</div>

				</article>

			</div>

		</div>

	</div>

{% endblock %}