{% set title = "Terms and Сonditions" %}

{% extends "template/base.html" %}

{% block content %}

	<article class="page-text center">

		<time datetime="2024-02-28" class="before">
			Version 1.1, 28 February 2024
		</time>

		<h1 class="page-text__title h1">
			{{ title }}
		</h1>

		<div class="page-text__body counter-headings">

			<h2>
				General Terms and Conditions
			</h2>

			<p class="counter-headings__point">
				These General Terms (“Terms”) constitute a framework agreement which sets out the terms of:
			</p>

			<ol type="a">

				<li>
					you and us entering into Fenilux Services; and
				</li>

				<li>
					the use of the Fenilux Dashboard and other Fenilux Services.
				</li>

			</ol>

			<p>
				Before you can enter into Fenilux Services with us you are required to:
			</p>

			<p>
				Read these Terms and tick the box confirming the accuracy of the information provided and your acceptance and agreement with these Terms; and <br>
				Provide us with such documentation, photographs and information as we may reasonably request to comply with our regulatory obligations.
			</p>

			<p class="counter-headings__point">
				You will confirm and provide valid, accurate and correct Information to us. You undertake that, if any information provided to us changes, you will notify us and update any such information immediately. You shall be liable for any invalid, inaccurate and incorrect information which you may have provided to us. We shall not be liable for any losses arising out of your failure to maintain up to date information.
			</p>

			<p class="counter-headings__point">
				Your Information shall be stored and secured according to the terms of the Privacy Policy.
			</p>

			<p class="counter-headings__point">
				By accepting and agreeing to these Terms, you also agree to the Website Terms, the Cookie Policy, the Privacy Policy, and any supplements, all of which are available on the Website.
			</p>

			<p class="counter-headings__point">
				Once you have completed the above and you have passed our internal checks, we shall make the Fenilux Dashboard available to you.
			</p>

			<p class="counter-headings__point">
				Fenilux reserves the right to provide some or all Products and Services described herein. If a Product or Service is not offered in your jurisdiction, then the parts of these Terms related to such Product or Service shall not apply to you.
			</p>

			<h2>
				Terminating your Access
			</h2>

			<p>
				We may stop your access to the Revolut Dashboard on reasonable grounds for security reasons and as permitted by applicable laws.
			</p>

			<p>
				If we do stop your access in such instances, we will inform you via your email and direct you to our customer services team.
			</p>

			<h2>
				Verification of Identity
			</h2>

			<p class="counter-headings__point">
				You agree to cooperate with all requests made by us or any of our third party service providers on our behalf in connection with your Fenilux Account, to identify or authenticate your identity or validate your funding sources or Fenilux Services. This may include, but is not limited to, asking you for further information that will allow Fenilux to reasonably identify you, including requiring you to take steps to confirm ownership of your phone number or payment instruments or verifying your Information against third party databases or through other sources. All your data will be secure and protected according to the terms set forth in our Privacy Policy.
			</p>

			<p class="counter-headings__point">
				We reserve the right to close, suspend, or limit access to your Fenilux Services in the event we are unable to obtain, verify such Information or you do not comply with our requests under Clause 3.1 of these Terms.
			</p>

			<p class="counter-headings__point">
				We may confidentially verify the information you provide us with or obtain information on you ourselves or through third parties from secure databases. Some of the searches which we or a third party may perform, such as a credit check, may leave a soft footprint on your credit history. This will not affect your credit rating. By entering into these Terms, you confirm that you consent to us or a third party on our behalf to carry out such verifications and understand that such verifications are indispensable for us to provide our services to you.
			</p>

			<p class="counter-headings__point">
				You must ensure the information on your Fenilux Account is always accurate and up to date. If at any time we believe that your information is outdated or inaccurate, we may contact you and request further information or request that you go through the verification process again.
			</p>

			<h2>
				Fenilux Services
			</h2>

			<p class="counter-headings__point">
				The following are “Fenilux Services”:
			</p>

			<ul>

				<li>
					Payment Agent Services: Fenilux facilitates the transfer of funds between parties as a trusted intermediary, ensuring secure and efficient transactions.
				</li>

				<li>
					Freelancer Payment Service: Fenilux offers a payment service tailored to freelance workers, enabling seamless and timely compensation for their services.
				</li>

				<li>
					Other Services: Fenilux offers additional services, including escrow, invoice processing and aggregation, enhanced KYC procedures, and Identity Verification measures.
				</li>

			</ul>

			<p class="counter-headings__point">
				Payment Agent Services entail that two parties, the Client and the Contractor, undergo KYC and Verification of Identity procedures with Fenilux and sign a contract for the delivery of goods or provision of services. By specifying Fenilux as their Payment Agent in the Payment Terms section of the contract, they ensure a streamlined payment process. Subsequently, the Client, Contractor, and Fenilux sign a tripartite Agreement to regulate the procedure of Payment Agent Services provided by Fenilux. This arrangement facilitates secure and efficient financial transactions between the Client and the Contractor.

			</p>

			<p>
				Fenilux takes on the responsibility of receiving funds from the Client and transferring them to the Contractor, reducing the administrative burden on both parties and ensuring timely payments, thereby fostering trust and enhancing business relationships.
			</p>

			<p class="counter-headings__point">
				The Freelancer Payment Service involves the Client and the Freelancer signing a cooperation agreement similar to section 4.2, with Fenilux specified as the payment agent. In this arrangement, Fenilux assumes responsibilities for aggregating and processing invoices from Freelancers, conducting KYC procedures, and escrowing funds upon the Client receiving the Freelancer's work results (see section 4.4). This service streamlines the payment process for both parties, ensuring compliance with regulatory requirements and providing added security and trust in the freelance transactions.
			</p>

			<p class="counter-headings__point">
				Other Services include, but are not limited to, the following additional services:
			</p>

			<ul>

				<li>
					Escrow Service: Fenilux provides secure holding and transfer of funds between parties, acting as a reliable intermediary until the terms of the agreement are met;
				</li>

				<li>
					Invoice Processing and Aggregation: Fenilux offers services for processing and collecting invoices, ensuring efficient management of financial documents and simplifying the payment process;
				</li>

				<li>
					Enhanced KYC Procedures: Fenilux conducts advanced Know Your Customer (KYC) procedures, providing an additional level of identity verification and security for all transaction participants.
				</li>

			</ul>

			<p class="counter-headings__point">
				Fenilux may refuse to enter into a Revolut Services with you at any time and for any reason.
			</p>

			<p class="counter-headings__point">
				Fenilux provides virtual receipts for successful transactions of Fenilux Services undertaken by you. These receipts are available via email. Fenilux will not and is under no obligation to provide you with a physical receipt or other written confirmation in connection with any transaction of Fenilux Services.
			</p>

			<h2>
				Restrictions on the use of the Fenilux Services
			</h2>

			<p>
				It is not permitted to:
			</p>

			<ul>

				<li>
					use the Fenilux Services for any illegal purposes, including, but not limited to fraud and money laundering, counterfeit products, unlawful gambling activities, the unlawful purchase or sale of tobacco, or other products prohibited by law. Revolut will report any suspicious activity and cooperate with any relevant law enforcement agency or regulator;
				</li>

				<li>
					breach these Terms, or any other agreement or policy that you have agreed with Fenilux;
				</li>

				<li>
					use the Fenilux Services to violate any law, statute, ordinance, or regulation;
				</li>

				<li>
					use the Fenilux Services for any illegal purposes including the purchase or sale, or the facilitation of the purchase or sale of, illegal goods or services;
				</li>

				<li>
					infringe Fenilux’s or any third party’s copyright, patent, trademark, trade secret or other intellectual property rights, or rights of publicity or privacy;
				</li>

				<li>
					provide us with false, inaccurate or misleading information;
				</li>

				<li>
					use an anonymising proxy; use any robot, spider, other automatic device, or manual process to monitor or copy our Website without our prior written permission; or interfere or attempt to interfere with the Fenilux Services;
				</li>

				<li>
					refuse to cooperate in an investigation or provide confirmation of your identity or any Information you provide to us.
				</li>

			</ul>

			<h2>
				No Warranty
			</h2>

			<p class="counter-headings__point">
				The Fenilux Services are provided on an "as is", "as available" basis and without any representation or warranty, whether express, implied or statutory. Fenilux, and the employees and suppliers of Fenilux, make no representation or warranty of any kind whatsoever for the services or the content, materials, information and functions made accessible by the Fenilux Services used on or accessed through the Fenilux Services, or for any breach of security associated with the transmission of sensitive information through the Fenilux Services.
			</p>

			<p class="counter-headings__point">
				Fenilux does not warrant that the Fenilux Services will be uninterrupted or error free. Fenilux shall not be responsible for any service interruptions not under its control, including, but not limited to, system failures or other interruptions that may affect the receipt, processing, acceptance, completion or settlement of the Fenilux Services.
			</p>

			<p class="counter-headings__point">
				Fenilux does not have any control over the products or services that are paid for using the Fenilux Services.
			</p>

			<p class="counter-headings__point">
				Fenilux is not responsible for the quality, performance, or any consequential results of the products and/or services purchased using the Fenilux Services.
			</p>

		</div>

	</article>

{% endblock %}