{% set title = "User Agreement" %}

{% extends "template/base.html" %}

{% block content %}

	<div class="page-text center">

		<div class="box page-text__bg-{{ folder }}">

			<div class="box__inner">

				<article>

					<h1 class="page-text__title h1">
						{{ title }}
					</h1>

					<div class="page-text__body">

						<time class="page-text__date" datetime="2024-01-11">
							Last Updated: <span class="nowrap">January 11, 2024</span>
						</time>

						<p>
							Welcome to ZeroOne, your premier provider of online gaming for Dota 2, Counter-Strike, Hearthstone, and many other games. This User Agreement governs your use of our website and services.
						</p>

						<h2>
							Acceptance of Terms
						</h2>

						<p>
							By using our website and services, you agree to this User Agreement. If you do not agree with any part of these terms, please do not use our website and services.
						</p>

						<h2>
							Use of Services
						</h2>

						<p>
							You agree to use our services only for lawful purposes and in accordance with this User Agreement and applicable laws and regulations.
						</p>

						<h2>
							Age Restrictions
						</h2>

						<p>
							You confirm that you are at least 18 years old or have reached the age of majority in your country or jurisdiction to use our services. We are not responsible for the use of our website or services by minors.
						</p>

						<h2>
							Intellectual Property
						</h2>

						<p>
							All content on our website, including text, graphics, logos, images, audio, and video materials, belongs to ZeroOne or our licensors and is protected by copyright laws.
						</p>

						<h2>
							Liability
						</h2>

						<p>
							We are not liable for any losses or damages arising from the use of our website or services, including but not limited to direct, indirect, incidental, or consequential damages.
						</p>

						<h2>
							Changes to the User Agreement
						</h2>

						<p>
							We reserve the right to make changes to this User Agreement at our discretion. We will notify you of any significant changes by posting a notice on our website.
						</p>

						<h2>
							Contact Us
						</h2>

						<p>
							If you have any questions or suggestions regarding this User Agreement, please contact us at <a href="mailto:info@zeroone.bet">info@zeroone.bet</a>
						</p>

						<p>
							Thank you for using ZeroOne services.
						</p>

					</div>

				</article>

			</div>

		</div>

	</div>

{% endblock %}