{% set title = "Пользовательское соглашение" %}

{% set folder = "terms-of-use" %}

{% extends "template/base.html" %}

{% block content %}

	<div class="page-text center">

		<div class="box page-text__bg-{{ folder }}">

			<div class="box__inner">

				<article>

					<h1 class="page-text__title h1">
						{{ title }}
					</h1>

					<div class="page-text__body">

						<time class="page-text__date" datetime="2024-01-11">
							Последнее обновление: <span class="nowrap">11 января 2024 года</span>
						</time>

						<p>
							Добро пожаловать на ZeroOne, ваш премьер-провайдер онлайн-гейминга для Dota 2, Counter-Strike, Hearthstone и многих других игр. Настоящее Пользовательское соглашение регулирует ваше использование нашего веб-сайта и услуг.
						</p>

						<h2>
							Принятие условий
						</h2>

						<p>
							Пользование нашим веб-сайтом и услугами означает ваше согласие с этим Пользовательским соглашением. Если вы не согласны с какой-либо частью этих условий, пожалуйста, не используйте наш веб-сайт и наши услуги.
						</p>

						<h2>
							Использование услуг
						</h2>

						<p>
							Вы соглашаетесь использовать наши услуги только в законных целях и в соответствии с этим Пользовательским соглашением и применимыми законами и правилами.
						</p>

						<h2>
							Возрастные ограничения
						</h2>

						<p>
							Вы подтверждаете, что вам исполнилось 18 лет или вы достигли возраста совершеннолетия в вашей стране или юрисдикции, чтобы использовать наши услуги. Мы не несем ответственности за использование нашего веб-сайта или услуг несовершеннолетними.
						</p>

						<h2>
							Интеллектуальная собственность
						</h2>

						<p>
							Весь контент нашего веб-сайта, включая текст, графику, логотипы, изображения, аудио- и видеоматериалы, принадлежит ZeroOne или нашим лицензиаром и защищен законами об авторских правах.
						</p>

						<h2>
							Ответственность
						</h2>

						<p>
							Мы не несем ответственности за любые убытки или ущерб, возникшие в результате использования нашего веб-сайта или услуг, включая, но не ограничиваясь, прямые, косвенные, случайные или следственные убытки.
						</p>

						<h2>
							Изменения в пользовательском соглашении
						</h2>

						<p>
							Мы оставляем за собой право вносить изменения в это Пользовательское соглашение по своему усмотрению. При этом мы уведомим вас о любых существенных изменениях, разместив уведомление на нашем веб-сайте.
						</p>

						<h2>
							Связь с нами
						</h2>

						<p>
							Если у вас есть какие-либо вопросы или предложения относительно этого Пользовательского соглашения, пожалуйста, свяжитесь с нами по адресу <a href="mailto:info@zeroone.bet">info@zeroone.bet</a>
						</p>

						<p>
							Спасибо за использование услуг ZeroOne.
						</p>

					</div>

				</article>

			</div>

		</div>

	</div>

{% endblock %}