		<div class="expert-swiper">

			<h4 class="expert-swiper__title h4">
{% if lang === "en" -%}
				Wissam’s projects
{% else %}
				Проекты Виссмана
{%- endif %}
			</h4>

			<div class="expert-swiper__wrap">

				<div class="swiper swiper--expert swiper--autoplay">

					<div class="expert-swiper__list swiper-wrapper">

{% set images = [
	{
		name     : "The Opus",
		category : "Commercial Building"
	},
	{
		name     : "Oxford Tower",
		category : "Commercial Building"
	},
	{
		name     : "Al Sharq Tower",
		category : "Residental Building"
	},
	{
		name     : "One At Palm",
		category : "Residental Building"
	},
	{
		name     : "ALW Building",
		category : "Residental Building"
	},
	{
		name     : "V Tower",
		category : "Residental Building"
	},
	{
		name     : "ACR Al Warqaa",
		category : "Residental Building"
	},
	{
		name     : "Martial Art Club",
		category : "Leisure & Educational"
	},
	{
		name     : "Sports City",
		category : "Leisure & Educational"
	},
	{
		name     : "OneJ’S VILLA",
		category : "Villas"
	},
	{
		name     : "Residence 795 Villa",
		category : "Villas"
	}
] %}

{% if lang === "ru" %}

{% set images = [
	{
		name     : "The Opus",
		category : "Коммерческое здание"
	},
	{
		name     : "Oxford Tower",
		category : "Коммерческое здание"
	},
	{
		name     : "Al Sharq Tower",
		category : "Жилое здание"
	},
	{
		name     : "One At Palm",
		category : "Жилое здание"
	},
	{
		name     : "ALW Building",
		category : "Жилое здание"
	},
	{
		name     : "V Tower",
		category : "Жилое здание"
	},
	{
		name     : "ACR Al Warqaa",
		category : "Жилое здание"
	},
	{
		name     : "Martial Art Club",
		category : "Досуг и образование"
	},
	{
		name     : "Sports City",
		category : "Досуг и образование"
	},
	{
		name     : "OneJ’S VILLA",
		category : "Виллы"
	},
	{
		name     : "Residence 795 Villa",
		category : "Виллы"
	}
] %}

{% endif %}

{% for item in images %}

						<div class="expert-swiper__item swiper-slide">

							<figure class="expert-swiper__head">

								<picture>

									<source srcset="/img/experts/projects/{{ loop.index }}--520x440.webp" type="image/webp" media="(max-width: 727px)">
									<source srcset="/img/experts/projects/{{ loop.index }}--520x440.jpg" media="(max-width: 727px)">

									<source srcset="/img/experts/projects/{{ loop.index }}--360x240.webp 1x, /img/experts/projects/{{ loop.index }}--720x480.webp 2x" type="image/webp">
									<source srcset="/img/experts/projects/{{ loop.index }}--360x240.jpg 1x, /img/experts/projects/{{ loop.index }}--720x480.jpg 2x">

									<img src="/img/experts/projects/{{ loop.index }}--360x240.jpg" width="360" height="240" alt="{{ item.name }}" loading="lazy">

								</picture>

								<figcaption class="expert-swiper__projects">

									{{ item.name }}

									<small>
										{{ item.category }}
									</small>

								</figcaption>

							</figure>

						</div>

{% endfor %}

					</div>

					<span class="swiper-scrollbar"></span>

				</div>

			</div>

		</div>

{% include "main/clients.html" %}