		<section class="experts" id="experts">

			<div class="center">

				<h2 class="experts__title h2">
{% if lang === "en" -%}
					Our experts
{% else %}
					Наша команда экспертов
{%- endif %}
				</h2>

			</div>

{% set experts = [
	{
		swiper  : "history",
		img     : "Yusuf_Al_Mulla",
		name    : "Yusuf Al Mulla",
		status  : "Founder",
		text    : "<p>Even before UAE was established as a country Mr&nbsp;Yusuf’s grandfather Mr Taher Al Aidarous was one&nbsp;of the first architects and engineers in Dubai municipality.</p><p>In 1974 he founded one the first engineering, architect and consultants’ company “Al Aidarous Engineers & Consultancy” in Dubai. He is affiliated with a lot of civil engineering of Old Dubai and was&nbsp;the master developer of the first residential community Al Rashidiya in Dubai contracted personally by the late His Highness, Sheikh Rashid Bin Saeed Al Maktoum’s office for the development.</p><p>In the legacy of his grandfather Mr Yousef has continued to develop privately and in partnership with various companies being involved in multi-billion-dirham projects locally and internationally.</p><p>In 2022 Palladium Development acquiesced Mr&nbsp;Yusuf’s development and construction companies to&nbsp;become an integral arm of Palladium Group.</p>",
		quote  : "Continuing in the legacy of&nbsp;my grandfather, Taher Al Aidarous, former chief architect & engineer of Dubai municipality, in serving the development of my country"
	},
	{
		swiper  : "projects",
		img     : "Arex_Wissam",
		name    : "Wissam J. Salameh",
		status  : "Design director at <a href=\"https://arex.ae\" target=\"_blank\" rel=\"noopener nofolow\">Arex Group </a> <br> and Founder at Palladium Group",
		text    : "<p>Wissam is the managing partner at Arex Consultants and leader for project design management in both pre and post contract services. With more than 20&nbsp;years of professional experience, his insight into the&nbsp;design and construction process and his ability to&nbsp;integrate strategic management solutions with the&nbsp;design process provides unique opportunities for&nbsp;all projects. His organizational skills and creativity allows him to lead and manage teams for large-scale mixed use projects to single house premises. <br>His works included commercial, residential, hospitality, and health care in the MENA region.</p>",
		quote  : "Projects that he has worked on are a live witness to&nbsp;the&nbsp;successful accomplishments and distinguished designs and&nbsp;engineering"
	},
	{
		swiper  : "investments",
		img     : "Evgeny_Kogan",
		name    : "Evgeny Kogan",
		status  : "Partner at Palladium Group",
		text    : "<p>One of the leading experts in 2nd and 3rd tier Russian companies with over 30 years of investment and securities trading experience. Head of Antanta Capital for 6 years, senior partner of Tretiy Rim Asset Management, member of the board of NAUFOR and RTS.</p><p>A graduate of the Financial University under the Government of the Russian Federation (summa cum laude), PhD in economics, visiting professor at Higher School of Economics Research University in Moscow. Occasional contributor to Forbes, Vedomosti and other leading Russian business media, guest speaker on RBC-TV business channel. Founder and contributor to BitKogan — a popular media channel about money and investment manageme.</p>",
		quote  : "Dubai is going same way as Singapore and Hong Kong did, when I look at Dubai future, I&nbsp;get pursuaded that it’s brilliant"
	}
] %}

{% if lang === "ru" %}

{% set experts = [
	{
		swiper  : "history",
		img     : "Yusuf_Al_Mulla",
		name    : "Юсуф Аль Мулла",
		status  : "Основатель компании",
		text    : "<p>Даже до образования ОАЭ как страны, дед мистера Юсуфа, мистер Тахер Аль Айдарус, был одним из первых архитекторов и инженеров в муниципалитете Дубая.<br>В 1974 году он основал одну из первых инженерных, архитектурных и консультационных компаний “Al Aidarous Engineers & Consultancy” в Дубае. Он связан со многими строительными компаниями Старого Дубая и был генеральным застройщиком первого жилого комплекса Аль-Рашидия в Дубае, контракт с которым был заключен лично офисом по развитию покойного Его Высочества шейха Рашида Бен Саида Аль Мактума.</p><p>Будучи наследником своего дела, господин Юсуф продолжил развитие партнерских отношений с различными кампаниями, участвующими в проектах стоимостью в несколько миллиардов дирхамов на местном и международном уровнях.</p><p>В 2022 году Palladium Development приобрела девелоперские и строительные компании г-на Юсуфа Аль Мулла, которые стали неотъемлемой частью Palladium Group.</p>",
		quote  : "Продолжаю наследие моего деда, Тахера Аль Айдаруса, бывшего главного архитектора и инженера муниципалитета Дубая, в служении развитию моей страны"
	},
	{
		swiper  : "projects",
		img     : "Arex_Wissam",
		name    : "Виссам Дж. Саламе",
		status  : "Директор по дизайну в <a href=\"https://arex.ae\" target=\"_blank\" rel=\"noopener nofolow\">Arex Group </a> и основатель Palladium Group",
		text    : "<p>Виссам занимает должность управляющего партнера в Arex Consultants и руководит процессом управления проектами как на этапе предконтрактных, так и постконтрактных услуг. Обладая более чем 20-летним опытом работы, он  понимает процессы проектирования и строительства, а также успешно интегрирует стратегические решения в рамках дизайн-процесса. <br> Его организационные навыки и креативный подход позволяют ему успешно руководить командами как на крупных проектах, так и на индивидуальных жилых объектах. <br> Его опыт включает в себя разнообразные проекты, такие как: коммерческие помещения, жилые комплексы, гостиничный бизнес и здравоохранительные учреждения в регионе MENA.</p>",
		quote  : "Проекты, над которыми он работал, являются живым свидетельством успешных достижений и выдающихся разработок"
	},
	{
		swiper  : "investments",
		img     : "Evgeny_Kogan",
		name    : "Евгений Коган",
		status  : "Партнер Palladium Group",
		text    : "<p>Один из ведущих экспертов в российских компаниях 2-го и 3-го эшелона с более чем 30-летним опытом инвестирования и торговли ценными бумагами. В течение 6 лет глава Antanta Capital, старший партнер Tretiy Rim Asset Management, член правления НАУФОР и РТС.</p><p>Выпускник Финансового университета при Правительстве Российской Федерации (с отличием), доктор экономических наук, приглашенный профессор Исследовательского университета \"Высшая школа экономики\" в Москве. Периодически публикуется в Forbes, \"Ведомостях\" и других ведущих российских деловых СМИ, приглашенный докладчик на деловом канале РБК-ТВ. Основатель и соавтор BitKogan — популярного медиа-канала об управлении деньгами и инвестициями.</p>",
		quote  : "Дубай развивается так же, как Сингапур и Гонконг, когда я смотрю на будущее Дубая, я убеждаюсь, что оно блестящее"
	}
] %}

{% endif %}


{% for item in experts %}

			<article class="experts__item">

				<div class="center">

					<div class="expert">

						<div class="expert__photo">

							<picture>

								<source srcset="/img/experts/{{ item.img }}--240x240.webp" type="image/webp" media="(max-width: 727px)">
								<source srcset="/img/experts/{{ item.img }}--240x240.jpg" media="(max-width: 727px)">

								<source srcset="/img/experts/{{ item.img }}--520x520.webp" type="image/webp" media="(max-width: 1199px)">
								<source srcset="/img/experts/{{ item.img }}--520x520.jpg" media="(max-width: 1199px)">

								<source srcset="/img/experts/{{ item.img }}--291x240.webp 1x, /img/experts/{{ item.img }}--582x480.webp 2x" type="image/webp">
								<source srcset="/img/experts/{{ item.img }}--291x240.jpg 1x, /img/experts/{{ item.img }}--582x480.jpg 2x">

								<img src="/img/experts/{{ item.img }}--291x240.jpg" width="291" height="240" alt="{{ item.name | replace('&nbsp;',' ') }}" loading="lazy">

							</picture>

						</div>

						<div class="expert__info readmore">

							<h3 class="expert__name h4">
								{{ item.name }}
							</h3>

							<p class="expert__status">
								{{ item.status | safe }}
							</p>

							<div class="expert__text readmore__body">

								<div class="readmore__text">
									{{ item.text | safe }}
								</div>

							</div>

							<div class="expert__btn">

								<button class="btn btn--more readmore__btn" type="button" data-text="{% if lang === "en" %}Close{% else %}Свернуть{% endif %}">
{% if lang === "en" -%}
									Read more
{% else %}
									Подробнее
{%- endif %}
								</button>

							</div>

						</div>

						<blockquote class="expert__quote">

							<p>
								"{{ item.quote | safe }}"
							</p>

							<cite>
								— {{ item.name }}
							</cite>

						</blockquote>

					</div>

{% include "main/experts__" + item.swiper + ".html" %}

				</div>

			</article>

{% endfor %}

		</section>