	<article class="first-screen">

		<div class="center">

			<div class="first-screen__border">

				<div class="first-screen__bg">

					<div class="first-screen__box">

						<div class="first-screen__content">

							<h1 class="first-screen__title h2">
								Запускай игру › <br>
								Побеждай своих соперников › <br>
								<b>Забирай выигрыш!</b>
							</h1>

							<p class="first-screen__text">
								Создай аккаунт и получи <b>1 000 ₽</b> на игровой счет.
							</p>

							<ul class="last-screen__games">

{% for img in ['dota','cs','hearthstone'] %}

								<li>

									<picture>

										<source srcset="/img/games/{{ img }}.webp 1x, /img/games/{{ img }}@2x.webp 2x" type="image/webp">
										<source srcset="/img/games/{{ img }}.png 1x, /img/games/{{ img }}@2x.png 2x">

										<img src="/img/games/{{ img }}.png" width="60" height="60" alt="" loading="lazy">

									</picture>

								</li>

{% endfor %}

							</ul>

							<div class="last-screen__users">

								<ul class="last-screen__users-avatar">

{% for img in range(1,5) %}

									<li>

										<picture>

											<source srcset="/img/last-screen/{{ img }}.webp 1x, /img/last-screen/{{ img }}@2x.webp 2x" type="image/webp">
											<source srcset="/img/last-screen/{{ img }}.png 1x, /img/last-screen/{{ img }}@2x.png 2x">

											<img src="/img/last-screen/{{ img }}.png" width="56" height="56" alt="" loading="lazy">

										</picture>

									</li>

{% endfor %}

								</ul>

								<p class="last-screen__users-count h1">
									6 789
								</p>

								<p class="last-screen__users-text">
									игроков уже зарабатывают <br>
									на любимых играх!
								</p>

							</div>

						</div>

						<div class="first-screen__form">

{% include "main/form.html" %}

						</div>

					</div>

				</div>

			</div>

		</div>

	</article>