	<article class="first-screen">

		<div class="center">

			<div class="first-screen__border">

				<div class="first-screen__bg">

					<div class="first-screen__box">

						<div class="first-screen__content">

							<h1 class="first-screen__title h2">
								Запускай игру › <br>
								Побеждай своих соперников › <br>
								<b>Забирай выигрыш!</b>
							</h1>

							<p class="first-screen__text">
								Создай аккаунт и получи <b>1 000 ₽</b> на игровой счет.
							</p>

							<div class="first-screen__stat-top">

{% include "main/stat-top.html" %}

							</div>

						</div>

						<div class="first-screen__form">

{% include "main/form.html" %}

						</div>

					</div>

				</div>

			</div>

		</div>

	</article>