		<div class="how-work" id="how-work">

			<div class="center">

				<h2 class="how-work__title h2 fade-in">
{% if lang === "en" -%}
					How it’s work?
{% else %}
					Как проходит этот процесс?
{%- endif %}
				</h2>

				<ol class="how-work__list">

					<li class="how-work__item fade-in fade-in--100">

						<b>
{% if lang === "en" -%}
							Realty investments and capital raising
{% else %}
							Привлечение капитала для инвестирования в недвижимость
{%- endif %}
						</b>

					</li>

					<li class="how-work__item fade-in fade-in--200">

						<b>
{% if lang === "en" -%}
							Project implementation and realization
{% else %}
							Реализация проекта
{%- endif %}
						</b>

					</li>

					<li class="how-work__item fade-in fade-in--400">

{% if lang === "en" -%}
						<b>
							Exit strategy
						</b>

						<p>
							Our exit solution are tailored to maximize return on investments in the fastest and the most effective way capitalizing on every opportunity available ensuring investment guarantee and liability.
						</p>

						<p>
							Examples of our exit strategies are: capitalizing on asset appreciation; investment guarantee fund from sales; early exits by&nbsp;exploiting market trends and tailored solutions based upon business acumen.
						</p>

{% else %}
						<b>
							Стратегия выхода
						</b>

						<p>
							Наши стратегии выхода разрабатываются с целью максимизации доходности в самые кратчайшие и наиболее эффективные сроки, с использованием всех доступных возможностей и обеспечением гарантий и ответственности по инвестициям
						</p>

						<p>
							Примеры наших стратегий выхода включают: увеличение стоимости активов; создание гарантийного фонда из продаж; ранний выход, путем использования текущих тенденций рынка и индивидуальных решений на основе делового опыта.
						</p>

{%- endif %}

					</li>

				</ol>

			</div>

		</div>