	<article class="recent-games">

		<div class="center">

			<div class="box">

				<div class="box__inner">

					<div class="recent-games__box">

						<h2 class="recent-games__title h3">
							Последние игры
						</h2>

						<div class="tabs">

							<ul class="tabs__nav">

								<li class="tabs__nav-item is-active">

									<a class="tabs__btn h6" href="#recent-games-dota">

										<picture>

											<source srcset="/img/games/dota.webp 1x, /img/games/dota@2x.webp 2x" type="image/webp">
											<source srcset="/img/games/dota.png 1x, /img/games/dota@2x.png 2x">

											<img src="/img/games/dota.png" width="32" height="32" alt="Dota" loading="lazy">

										</picture>

										Dota

									</a>

								</li>

								<li class="tabs__nav-item">

									<a class="tabs__btn h6" href="#recent-games-cs">

										<picture>

											<source srcset="/img/games/cs.webp 1x, /img/games/cs@2x.webp 2x" type="image/webp">
											<source srcset="/img/games/cs.png 1x, /img/games/cs@2x.png 2x">

											<img src="/img/games/cs.png" width="32" height="32" alt="Counter Strike" loading="lazy">

										</picture>

										Counter Strike

									</a>

								</li>

								<li class="tabs__nav-item">

									<a class="tabs__btn h6" href="#recent-games-hearthstone">

										<picture>

											<source srcset="/img/games/hearthstone.webp 1x, /img/games/hearthstone@2x.webp 2x" type="image/webp">
											<source srcset="/img/games/hearthstone.png 1x, /img/games/hearthstone@2x.png 2x">

											<img src="/img/games/hearthstone.png" width="32" height="32" alt="Hearthstone" loading="lazy">

										</picture>

										Hearthstone

									</a>

								</li>

							</ul>

							<div class="tabs__main">

								<div class="tabs__item is-active" id="recent-games-dota">

{% include "main/recent-games-table.html" %}

{% include "main/recent-games-table--mobile.html" %}

								</div>

								<div class="tabs__item" id="recent-games-cs">

{% include "main/recent-games-table.html" %}

{% include "main/recent-games-table--mobile.html" %}

								</div>

								<div class="tabs__item" id="recent-games-hearthstone">

{% include "main/recent-games-table.html" %}

{% include "main/recent-games-table--mobile.html" %}

								</div>

							</div>

						</div>

					</div>

				</div>

			</div>

		</div>

	</article>