	<article class="recent-games" id="recent-games">

		<div class="center">

			<div class="box">

				<div class="box__inner">

					<div class="recent-games__box">

						<h2 class="recent-games__title h3">
							Последние игры
						</h2>

						<div class="tabs">

							<ul class="tabs__nav">

								<li class="tabs__nav-item is-active">

									<a class="tabs__btn h6" href="#recent-games-dota">

										<picture>

											<source srcset="/img/games/dota.webp 1x, /img/games/dota@2x.webp 2x" type="image/webp">
											<source srcset="/img/games/dota.png 1x, /img/games/dota@2x.png 2x">

											<img src="/img/games/dota.png" width="32" height="32" alt="Dota" loading="lazy">

										</picture>

										Dota

									</a>

								</li>

								<li class="tabs__nav-item">

									<a class="tabs__btn h6" href="#recent-games-cs">

										<picture>

											<source srcset="/img/games/cs.webp 1x, /img/games/cs@2x.webp 2x" type="image/webp">
											<source srcset="/img/games/cs.png 1x, /img/games/cs@2x.png 2x">

											<img src="/img/games/cs.png" width="32" height="32" alt="Counter Strike" loading="lazy">

										</picture>

										Counter Strike

									</a>

								</li>

								<li class="tabs__nav-item">

									<a class="tabs__btn h6" href="#recent-games-hearthstone">

										<picture>

											<source srcset="/img/games/hearthstone.webp 1x, /img/games/hearthstone@2x.webp 2x" type="image/webp">
											<source srcset="/img/games/hearthstone.png 1x, /img/games/hearthstone@2x.png 2x">

											<img src="/img/games/hearthstone.png" width="32" height="32" alt="Hearthstone" loading="lazy">

										</picture>

										Hearthstone

									</a>

								</li>

							</ul>

							<div class="tabs__main">

								<div class="tabs__item is-active" id="recent-games-dota">
{% set table = [
	{
		name : "Rufus MC",
		img  : "1",
		date : "05.02.24 15:32",
		price : 1
	},
	{
		name : "Krabsburger",
		img  : "2",
		date : "03.02.24 04:17",
		price : 2
	},
	{
		name : "Drall1999",
		img  : "3",
		date : "01.02.24 17:42",
		price : 2
	},
	{
		name : "Kostik777",
		img  : "4",
		date : "29.01.24 15:34",
		price : 2
	},
	{
		name : "Solomon Kane",
		img  : "5",
		date : "29.01.24 13:12",
		price : 2
	},
	{
		name : "Maglena",
		img  : "6",
		date : "28.01.24 11:28",
		price : 2
	}
] %}

{% include "main/recent-games-table.html" %}

{% include "main/recent-games-table--mobile.html" %}

								</div>

								<div class="tabs__item" id="recent-games-cs">

{% set table = [
	{
		name : "Raven_",
		img  : "7",
		date : "08.02.24 15:34",
		price : 2
	},
	{
		name : "Lesly",
		img  : "8",
		date : "08.02.24 09:08",
		price : 1
	},
	{
		name : "Zigmund1",
		img  : "9",
		date : "07.02.24 12:19",
		price : 2
	},
	{
		name : "Mikki_Maus",
		img  : "10",
		date : "07.02.24 19:28",
		price : 2
	},
	{
		name : "Geralt",
		img  : "11",
		date : "07.02.24 15:12",
		price : 2
	},
	{
		name : "SAMMMM",
		img  : "12",
		date : "05.02.24 15:37",
		price : 2
	}
] %}

{% include "main/recent-games-table.html" %}

{% include "main/recent-games-table--mobile.html" %}

								</div>

								<div class="tabs__item" id="recent-games-hearthstone">

{% set table = [
	{
		name : "Rufus MC",
		img  : "13",
		date : "07.02.24 12:19",
		price : 1
	},
	{
		name : "Ruslan_100",
		img  : "14",
		date : "05.02.24 15:32",
		price : 2
	},
	{
		name : "Key1996",
		img  : "15",
		date : "07.02.24 15:12",
		price : 2
	},
	{
		name : "Ubuntu",
		img  : "16",
		date : "05.02.24 15:37",
		price : 2
	},
	{
		name : "Ali_777",
		img  : "17",
		date : "29.01.24 13:12",
		price : 2
	},
	{
		name : "Magpie",
		img  : "18",
		date : "28.01.24 11:28",
		price : 2
	}
] %}

{% include "main/recent-games-table.html" %}

{% include "main/recent-games-table--mobile.html" %}

								</div>

							</div>

						</div>

					</div>

				</div>

			</div>

		</div>

	</article>