	<article class="recent-games" id="recent-games" data-rows="6">

		<div class="center">

			<div class="box">

				<div class="box__inner">

					<div class="recent-games__box">

						<h2 class="recent-games__title h3">
							Последние игры
						</h2>

						<div class="tabs">

							<ul class="tabs__nav">

								<li class="tabs__nav-item is-active">

									<a class="tabs__btn h6" href="#recent-games-dota">

										<picture>

											<source srcset="/img/games/dota.webp 1x, /img/games/dota@2x.webp 2x" type="image/webp">
											<source srcset="/img/games/dota.png 1x, /img/games/dota@2x.png 2x">

											<img src="/img/games/dota.png" width="32" height="32" alt="Dota" loading="lazy">

										</picture>

										Dota

									</a>

								</li>

								<li class="tabs__nav-item">

									<a class="tabs__btn h6" href="#recent-games-cs">

										<picture>

											<source srcset="/img/games/cs.webp 1x, /img/games/cs@2x.webp 2x" type="image/webp">
											<source srcset="/img/games/cs.png 1x, /img/games/cs@2x.png 2x">

											<img src="/img/games/cs.png" width="32" height="32" alt="Counter Strike" loading="lazy">

										</picture>

										Counter Strike

									</a>

								</li>

								<li class="tabs__nav-item">

									<a class="tabs__btn h6" href="#recent-games-hearthstone">

										<picture>

											<source srcset="/img/games/hearthstone.webp 1x, /img/games/hearthstone@2x.webp 2x" type="image/webp">
											<source srcset="/img/games/hearthstone.png 1x, /img/games/hearthstone@2x.png 2x">

											<img src="/img/games/hearthstone.png" width="32" height="32" alt="Hearthstone" loading="lazy">

										</picture>

										Hearthstone

									</a>

								</li>

							</ul>

							<div class="tabs__main">

								<div class="tabs__item is-active" id="recent-games-dota">

{% include "main/recent-games-table.html" %}

{% include "main/recent-games-column.html" %}

								</div>

								<div class="tabs__item" id="recent-games-cs">

{% include "main/recent-games-table.html" %}

{% include "main/recent-games-column.html" %}

								</div>

								<div class="tabs__item" id="recent-games-hearthstone">

{% include "main/recent-games-table.html" %}

{% include "main/recent-games-column.html" %}

								</div>

							</div>

						</div>

					</div>

				</div>

			</div>

		</div>

{% raw %}

		<script type="text/html" id="recent-games-table-template">

			{{ #users }}

			<tr>

				<td>

					<div class="recent-games-table__user">

						<picture>

							<source srcset="/img/avatars/{{ avatar }}.webp 1x, /img/avatars/{{ avatar }}@2x.webp 2x" type="image/webp">
							<source srcset="/img/avatars/{{ avatar }}.jpg 1x, /img/avatars/{{ avatar }}@2x.jpg 2x">

							<img src="/img/avatars/{{ avatar }}.jpg" width="44" height="44" alt="{{ name }}" loading="eager">

						</picture>

						{{ name }}

					</div>

				</td>

				<td class="recent-games-table__date">
					{{ date }}
				</td>

				<td class="recent-games-table__bet">
					{{ bet }} ₽
				</td>

				<td>

					<div class="recent-games-table__rate">
						<span>{{ multiplier }}х</span>
					</div>

				</td>

				<td class="recent-games-table__win">
					{{ win }} ₽
				</td>

			</tr>

			{{ /users }}

		</script>

		<script type="text/html" id="recent-games-column-template">

			{{ #users }}

			<div class="recent-games-column__item">

				<div class="recent-games-column__user">

					<picture>

						<source srcset="/img/avatars/{{ avatar }}.webp 1x, /img/avatars/{{ avatar }}@2x.webp 2x" type="image/webp">
						<source srcset="/img/avatars/{{ avatar }}.png 1x, /img/avatars/{{ avatar }}@2x.png 2x">

						<img src="/img/avatars/{{ avatar }}.png" width="40" height="40" alt="{{ name }}" loading="eager">

					</picture>

					{{ name }}

				</div>

				<div class="recent-games-column__table">

					<dl>

						<dt>
							Дата
						</dt>

						<dd>
							{{ date }}
						</dd>

						<dt>
							Ставка
						</dt>

						<dd>
							{{ bet }} ₽
						</dd>

					</dl>

					<dl>

						<dt>
							Коэффициент
						</dt>

						<dd>
							<div class="recent-games-column__rate">
								<span>{{ multiplier }}х</span>
							</div>
						</dd>

						<dt>
							Сумма выплаты
						</dt>

						<dd class="recent-games-column__win">
							{{ win }} ₽
						</dd>

					</dl>

				</div>

			</div>

			{{ /users }}

		</script>

{% endraw %}

	</article>