		<div class="shop-broker" id="invest-now">

			<div class="center">

				<h2 class="shop-broker__title h2 fade-in">
{% if lang === "en" %}
					We offer only real objects for investments.
{% else %}
					Мы предлагаем только реальные объекты для инвестиций
{% endif %}
				</h2>

				<p class="shop-broker__intro fade-in fade-in--200">
{% if lang === "en" %}
					Become our partner and earn money.
{% else %}
					Присоединитесь к Palladium для получения дохода
{% endif %}
				</p>

				<div class="shop-broker__yield fade-in fade-in--300">

{% include "main/shop-broker__yield.html" %}

				</div>

				<p class="shop-broker__text fade-in fade-in--400">
{% if lang === "en" %}
					Objects available  for investments
{% else %}
					Объекты, доступные для инвестиций
{% endif %}
				</p>

				<div class="shop-broker__list">

{% set objects = [
	{
		id   : 1,
		name : "Jumeirah Garden City",
		imgs : [10,11,12,13,13],
		stat : [85,18],
		desc : "Al Barsha - Dubai - United Arab Emirates",
		data : [
			{
				key : "Amount of investment",
				value : "$5,500,000 – 9,000,000"
			},
			{
				key : "Number of floors",
				value : "G+8"
			},
			{
				key : "Number of units",
				value : "57"
			}
		],
		pdf    : "Jumeirah-Garden-City",
		table  : [
			{
				head : "Investment Required"
			},
			{
				th : "Land cost",
				td : "$4.4M"
			},
			{
				th : "Gross Construction Cost",
				td : "$5.7M"
			},
			{
				th : "Gross Development Expenditure",
				td : "$0.9M"
			},
			{
				th : "Total Project Cost",
				td : "$11M"
			},
			{
				head : "Sales"
			},
			{
				th : "Projected Gross Sales Value",
				td : "$17,6M"
			},
			{
				th : "Total ROl",
				td : "239%"
			},
			{
				head : "Profit Share"
			},
			{
				th : "Investor's share",
				td : "70%"
			},
			{
				th : "Investor's ROI",
				td : "168%"
			}
		]
	},
	{
		id   : 2,
		name : "Al Barsha Heights",
		imgs : [20,20],
		stat : [75,24],
		desc : "Al Fay Road, Jumeirah Golf Estates",
		data : [
			{
				key : "Amount of investment",
				value : "$15,000,000"
			},
			{
				key : "Number of floors",
				value : "G+14"
			},
			{
				key : "Number of units",
				value : "140"
			}
		],
		table  : [
			{
				head : "Total Capital Stack"
			},
			{
				th : "Land & Equity Contribution",
				td : "40,000,000"
			},
			{
				th : "Finance in Equity Contribution",
				td : "66,503,600"
			},
			{
				th : "Total Equity Contribution",
				td : "106,503,600"
			},
			{
				head : "Project Expected Proceeds & Profit"
			},
			{
				th : "Project Units Sale Proceeds",
				td : "129,311 sq.ft."
			},
			{
				th : "Total Proceeds of the Project",
				td : "129.311"
			},
			{
				head : "Total Proceeds of the Project"
			},
			{
				th : "Gross Sales Value",
				td : "182,150,535"
			},
			{
				th : "ROI",
				td : "71,02%"
			}
		]
	},
	{
		id   : 3,
		name : "Business Bay",
		imgs : [30,30],
		stat : [101,18],
		data : [
			{
				key : "Amount of investment",
				value : "$29,209,807"
			},
			{
				key : "Number of floors",
				value : "g+4+14"
			},
			{
				key : "Number of units",
				value : "123"
			}
		],
		table  : [
			{
				head : "Total Capital Stack"
			},
			{
				th : "Land & Equity Contribution",
				td : "$29,209,807"
			},
			{
				th : "Finance in Equity Contribution",
				td : "$14,715,000"
			},
			{
				th : "Total Equity Contribution",
				td : "$56,924,807"
			},
			{
				head : "Project Expected Proceeds & Profit"
			},
			{
				th : "Total Proceeds of the Project",
				td : "199,295 sq.f"
			},
			{
				head : "Total Proceeds of the Project"
			},
			{
				th : "Gross Sales Value",
				td : "$109,500,00"
			},
			{
				th : "ROI",
				td : "101%"
			}
		]
	}
] %}

{% if lang === "ru" %}

{% set objects = [
	{
		id   : 1,
		name : "Jumeirah Garden City",
		imgs : [10,11,12,13,13],
		stat : [85,18],
		desc : "Al Barsha - Dubai - United Arab Emirates",
		data : [
			{
				key : "Объем инвестиций",
				value : "$5,500,000 – 9,000,000"
			},
			{
				key : "Количество этажей",
				value : "G+8"
			},
			{
				key : "Количество единиц",
				value : "57"
			}
		],
		pdf    : "Jumeirah-Garden-City",
		table  : [
			{
				head : "Необходимые инвестиции"
			},
			{
				th : "Стоимость земельного участка",
				td : "$4.4M"
			},
			{
				th : "Общая стоимость строительства",
				td : "$5.7M"
			},
			{
				th : "Общие затраты на развитие",
				td : "$0.9M"
			},
			{
				th : "Общая стоимость проекта",
				td : "$11M"
			},
			{
				head : "Продажи"
			},
			{
				th : "Ожидаемая валовая стоимость продаж",
				td : "$17,6M"
			},
			{
				th : "Общая ожидаемая доходность",
				td : "239%"
			},
			{
				head : "Доля прибыли"
			},
			{
				th : "Доля инвестора",
				td : "70%"
			},
			{
				th : "Рентабельность инвестиций инвестора",
				td : "168%"
			}
		]
	},
	{
		id   : 2,
		name : "Al Barsha Heights",
		imgs : [20,20],
		stat : [75,24],
		desc : "Al Fay Road, Jumeirah Golf Estates",
		data : [
			{
				key : "Объем инвестиций",
				value : "$15,000,000"
			},
			{
				key : "Количество этажей",
				value : "G+14"
			},
			{
				key : "Количество единиц",
				value : "140"
			}
		],
		table  : [
			{
				head : "Общий объем капитала"
			},
			{
				th : "Земельный и акционерный вклад",
				td : "40,000,000"
			},
			{
				th : "Финансирование в виде вклада в акционерный капитал",
				td : "66,503,600"
			},
			{
				th : "Общий вклад в акционерный капитал",
				td : "106,503,600"
			},
			{
				head : "Ожидаемые доходы и прибыль от проекта"
			},
			{
				th : "Выручка от продажи объектов проекта",
				td : "129,311 sq.ft."
			},
			{
				th : "Общая выручка от проекта",
				td : "129.311"
			},
			{
				head : "Общая выручка от проекта"
			},
			{
				th : "Валовая стоимость продаж",
				td : "182,150,535"
			},
			{
				th : "Доходность инвестиций",
				td : "71,02%"
			}
		]
	},
	{
		id   : 3,
		name : "Business Bay",
		imgs : [30,30],
		stat : [101,18],
		data : [
			{
				key : "Объем инвестиций",
				value : "$29,209,807"
			},
			{
				key : "Количество этажей",
				value : "g+4+14"
			},
			{
				key : "Количество единиц",
				value : "123"
			}
		],
		table  : [
			{
				head : "Общий объем капитала"
			},
			{
				th : "Земельный и акционерный вклад",
				td : "$29,209,807"
			},
			{
				th : "Финансирование в виде вклада в акционерный капитал",
				td : "$14,715,000"
			},
			{
				th : "Общий вклад в акционерный капитал",
				td : "$56,924,807"
			},
			{
				head : "Ожидаемые доходы и прибыль от проекта"
			},
			{
				th : "Общая выручка от проекта",
				td : "199,295 sq.f"
			},
			{
				head : "Общая выручка от проекта"
			},
			{
				th : "Валовая стоимость продаж",
				td : "$109,500,00"
			},
			{
				th : "Доходность инвестиций",
				td : "101%"
			}
		]
	}
] %}

{% endif %}

{% for item in objects %}

					<article class="shop-broker__item shop-broker-item fade-in">

						<div class="shop-broker-item__head swiper-container-style">

							<div class="shop-broker-item__gallery">

								<div class="shop-broker-item__gallery-swiper swiper swiper--shop-broker">

									<ul class="shop-broker-item__gallery-list swiper-wrapper">

{% for img in item.imgs %}

										<li class="shop-broker-item__gallery-item swiper-slide">

											<picture>

												<source srcset="/img/shop-broker/{{ img }}--640x496.webp" type="image/webp" media="(max-width: 360px)">
												<source srcset="/img/shop-broker/{{ img }}--640x496.jpg" media="(max-width: 360px)">

												<source srcset="/img/shop-broker/{{ img }}--540x420.webp 1x, /img/shop-broker/{{ img }}--1080x840.webp 2x" type="image/webp">
												<source srcset="/img/shop-broker/{{ img }}--540x420.jpg 1x, /img/shop-broker/{{ img }}--1080x840.jpg 2x">

												<img src="/img/shop-broker/{{ img }}--540x420.jpg" width="540" height="420" alt="{{ item.name }}" loading="lazy">

											</picture>

				{% if loop.last %}

											<div class="shop-broker-item__gallery-btn-start-invest">
{% if lang === "en" %}
												<button class="btn btn--white" type="button"
													data-modal="form"
													data-title="Investing to <br>{{ item.name }}"
													data-btn="Contact us"
													data-subject="{{ item.name }}"
													data-object="{{ item.name }}"
												>
													Start Investing
												</button>
{% else %}
												<button class="btn btn--white" type="button"
													data-modal="form"
													data-title="Инвестиции в <br>{{ item.name }}"
													data-btn="Связаться с нами"
													data-subject="{{ item.name }}"
													data-object="{{ item.name }}"
												>
													Начать инвестировать
												</button>
{% endif %}

											</div>

				{% endif %}

										</li>
{% endfor %}

									</ul>

								</div>

							</div>

							<p class="shop-broker-item__result">

								<em>{{ item.stat[0] }}%+</em>
{% if lang === "en" %}
								ROI
{% else %}
								Рентабельность <br> инвестиций
{% endif %}

								<span class="shop-broker-item__result-sep"></span>

								<span class="shop-broker-item__result-date">
{% if lang === "en" %}
									<b>{{ item.stat[1] }} month</b>
									realisation <br> period
{% else %}
									Срок <br> реализации
									<b>{{ item.stat[1] }} месяцев</b>
{% endif %}
								</span>

							</p>

						</div>

						<div class="shop-broker-item__body">

							<h3 class="shop-broker-item__name h4">
								{{ item.name }}
							</h3>

{% if item.desc %}
							<p class="shop-broker-item__desc">
								{{ item.desc }}
							</p>
{% endif %}

							<div class="shop-broker-item__details">

								<table class="shop-broker-item__data">

									<tbody>

		{% for tr in item.data %}

										<tr>

											<th>
												{{ tr.key }}
											</th>

											<td>
												{{ tr.value }}
											</td>

										</tr>

		{% endfor %}

									</tbody>

								</table>

							</div>

							<div class="shop-broker-item__foot">

{% if lang === "en" %}
								<button class="btn btn--dark shop-broker-item__foot-btn100p" type="button"
									data-modal="form"
									data-title="Investing to <br>{{ item.name }}"
									data-btn="Contact us"
									data-subject="{{ item.name }}"
									data-object="{{ item.name }}"
								>
									Start Investing
								</button>
{% else %}
								<button class="btn btn--dark shop-broker-item__foot-btn100p" type="button"
									data-modal="form"
									data-title="Инвестиции в <br>{{ item.name }}"
									data-btn="Связаться с нами"
									data-subject="{{ item.name }}"
									data-object="{{ item.name }}"
								>
									Начать инвестировать
								</button>
{% endif %}

			{% if item.pdf %}

								<button class="btn btn--outline shop-broker-item__foot-btn50p shop-broker-item__btn-details" type="button">
									{% if lang === "en" %}Info{% else %}<span class="hidden-sm">Узнать</span> подробности{% endif %}
								</button>

								<a href="/files/{% if lang === 'ru' %}ru/{% endif %}{{ item.pdf }}.pdf" class="btn btn--outline shop-broker-item__foot-btn50p" target="_blank">
									{% if lang === "en" %}Brochure{% else %}Каталог{% endif %}
								</a>

			{% else %}

								<button class="btn btn--outline shop-broker-item__foot-btn100p shop-broker-item__btn-details" type="button">
									{% if lang === "en" %}Info{% else %}<span class="hidden-sm">Узнать</span> подробности{% endif %}
								</button>

			{% endif %}

							</div>

						</div>

						<div class="shop-broker-item__table-details visuallyhidden">

							<table>

								<tbody>

		{% for tr in item.table %}

				{% if tr.head %}

									<tr>

										<th colspan="2">
											{{ tr.head }}
										</th>

									</tr>

				{% else %}

									<tr>

										<th>
											{{ tr.th }}
										</th>

										<td>
											{{ tr.td }}
										</td>

									</tr>

				{% endif %}

		{% endfor %}

								</tbody>

							</table>

						</div>

					</article>

{% endfor %}

				</div>

			</div>

		</div>