		<div class="tailored-solutions" id="tailored-solutions">

			<div class="center">

				<div class="tailored-solutions__box" id="custom-development">

					<div class="tailored-solutions__img fade-in fade-in--right">

						<picture>

							<source srcset="/img/tailored-solutions/640x428.webp" type="image/webp" media="(max-width: 727px)">
							<source srcset="/img/tailored-solutions/640x428.jpg" media="(max-width: 727px)">

							<source srcset="/img/tailored-solutions/1408x1408.webp" type="image/webp" media="(max-width: 1199px)">
							<source srcset="/img/tailored-solutions/1408x1408.jpg" media="(max-width: 1199px)">

							<source srcset="/img/tailored-solutions/480x480.webp 1x, /img/tailored-solutions/960x960.webp 2x" type="image/webp">
							<source srcset="/img/tailored-solutions/480x480.jpg 1x, /img/tailored-solutions/960x960.jpg 2x">

							<img src="/img/tailored-solutions/480x480.jpg" width="480" height="480" alt="{{ site }} {% if lang === 'ru' %}Индивидуальные решения{% else %}Tailored solutions{% endif %}" loading="lazy">

						</picture>

					</div>

					<div class="tailored-solutions__content fade-in fade-in--left">

						<h2 class="tailored-solutions__title h2">
{% if lang === "en" -%}
							Tailored solutions
{% else %}
							Индивидуальные решения
{%- endif %}
						</h2>

						<div class="tailored-solutions__text">

							<p>
{% if lang === "en" -%}
								Our flexible partnership programs enable us to aptly adapt to your investment requirements in real estate developments.
{% else %}
								Наши партнерские программы гибки и ориентированы на ваши инвестиционные потребности в сфере недвижимости. Мы готовы адаптироваться и находить оптимальные решения для Вас.
{%- endif %}
							</p>

							<p>
{% if lang === "en" -%}
								We match your equity, co-invest in your project and successfully structure financing and cashflow of the investment based on our expertise.
{% else %}
								Мы инвестируем в ваши проекты, работая с вами по совместной модели, и умело управляем финансами и&nbsp;инвестиционными потоками, опираясь на наш опыт и&nbsp;компетенцию.
{%- endif %}
							</p>

						</div>

						<div class="tailored-solutions__btn">

{% if lang === "en" -%}
							<button class="btn btn--outline" type="button"
								data-modal="form"
								data-title="Contact us"
								data-btn="Send"
								data-subject="Tailored solutions"
							>
								Contact Us
							</button>
{% else %}
							<button class="btn btn--outline" type="button"
								data-modal="form"
								data-title="Связаться с нами"
								data-btn="Отправить"
								data-subject="Индивидуальные решения"
							>
								СВЯзаться с нами
							</button>
{%- endif %}

						</div>

					</div>

				</div>

			</div>

		</div>