.first-screen {

	margin-bottom: var(--indent);

	.box {

		&::before {

			background-image: url(/img/first-screen/bg.png);
			background-size: cover;

		}

		&__inner {

			padding-bottom: 0;

		}

	}

	&__box {

		display: flex;
		justify-content: space-between;
		padding: 20px 20px 0 var(--margin);

	}

	&__content {

		width: 700px;

	}

	&__stat-top {

		width: 630px;
		height: 304px;
		overflow: hidden;
		margin-top: 48px;

		.stat-top__item {

			&:nth-child(n+3) {

				opacity: .5;

			}

			&:nth-child(n+4) {

				opacity: .2;

			}

		}

	}

	&__form {

		width: 524px;

	}

	&__title {

		margin: var(--gap) 0;

		b {

			font-weight: 800;
			color: var(--green);

		}

	}

	&__text {

		margin: 20px 0;

		b {

			font-weight: 800;

		}

	}

}