.footer {

	flex-shrink: 0;
	margin: var(--indent) 0;

	&__flex {

		display: flex;
		align-items: center;
		gap: 24px;

		@media $mdWidth {

			flex-wrap: wrap;
			gap: 12px;
			padding: 0 4px;

		}

	}

	&__logo {

		order: 1;
		padding-left: 8px;

		@media $mdWidth {

			img {

				width: auto;
				height: 16px;

			}

		}

	}

	&__copyright {

		order: 2;
		font-size: 14px;
		line-height: 20px;
		opacity: .32;
		text-transform: uppercase;

		@media $mdWidth {

			order: 4;

		}

	}

	hr {

		order: 3;
		border: 0;
		background-color: #fff;
		height: 1px;
		opacity: .05;
		width: 100%;

		@media $desktop {

			display: none;

		}

	}

	&__menu {

		@media $mdWidth {

			order: 5;
			margin-left: auto;

		}

		order: 4;

		ul {

			display: flex;
			gap: 12px;

		}

		a {

			color: rgba( 255, 255, 255, .5 );
			font-size: 14px;
			line-height: 20px;
			display: block;
			padding: 10px 16px;
			transition: var(--transitionDefault);

			&:hover {

				color: #fff;

			}

		}

	}

	&__social {

		order: 5;
		margin-left: auto;

		@media $mdWidth {

			order: 2;

		}

		a:hover svg {

			opacity: 1;

		}

		svg {

			opacity: .5;

		}

	}

}
