.footer {

	flex-shrink: 0;
	margin: var(--indent) 0;

	&__flex {

		display: flex;
		align-items: center;
		gap: 24px;

	}

	&__logo {

		order: 1;
		padding-left: 8px;

	}

	&__copyright {

		order: 2;
		font-size: 14px;
		line-height: 20px;
		opacity: .32;
		text-transform: uppercase;

	}

	&__menu {

		@media $mdWidth {

			display: none;

		}

		order: 3;

		ul {

			display: flex;
			gap: 12px;

		}

		a {

			color: rgba( 255, 255, 255, .5 );
			font-size: 14px;
			line-height: 20px;
			display: block;
			padding: 10px 16px;
			transition: var(--transitionDefault);

			&:hover {

				color: #fff;

			}

		}

	}

	&__social {

		order: 4;
		margin-left: auto;

		a:hover svg {

			opacity: 1;

		}

		svg {

			opacity: .5;

		}

	}

}
