
.form {

	&__title {

		text-align: center;
		margin: 24px 0;

	}

	&__inputbox {

		& + & {

			margin-top: 24px;

		}

	}

	&__label {

		display: block;
		font-size: 14px;
		font-weight: 500;
		line-height: 20px;
		letter-spacing: 0.01em;
		margin: 4px 0;

	}

	&__recovery {

		margin: 10px 0;
		display: flex;
		justify-content: flex-end;

		.button {

			color: var(--orange);
			font-size: 14px;
			font-weight: 600;
			line-height: 20px;

		}

	}

	&__foot {

		margin-top: 32px;

		.btn {

			width: 100%;
			margin-top: 24px;

		}

	}

	&__error-text {

		margin: 10px 0;
		color: var(--orange);

	}

}

.form-create {

	padding: 40px 60px;
	border-radius: 20px;
	border: 1px solid;
	border-image-source: var(--whiteGrad);
	background-image: var(--whiteGrad);
	background-color: rgba(255, 255, 255, 0.04);

	@media $mdWidth {

		border-radius: 16px;

	}

	@media $smWidth {

		padding: 32px 30px;

	}

	@media $lgWidth {

		padding: 40px;

	}

	&__title {

		text-align: center;
		margin-bottom: 32px;

		@media $smWidth {

			margin-bottom: 24px;

		}

	}

	&__inputbox {

		margin: 20px 0;

	}

	&__telegram {

		position: relative;

		.input {

			padding-left: 36px;

		}

		&::after {

			position: absolute;
			top: 0;
			left: 15px;
			bottom: 0;
			display: flex;
			align-items: center;
			content: '@';
			pointer-events: none;

		}

	}

	&__double {

		display: flex;
		gap: 20px;
		margin: 20px 0;

		@media $smWidth {

			display: block;

		}

	}

	&__double &__inputbox {

		margin: 0;
		flex-basis: 50%;

		@media $smWidth {

			margin: 20px 0;

		}

	}

	&__foot {

		margin: 32px 0;

		.btn {

			width: 100%;

		}

	}

	&__alt {

		text-align: center;
		font-size: 14px;
		font-weight: 500;
		line-height: 20px;
		margin: 20px 0;
		opacity: .5;

		a {

			text-decoration: underline;
			transition: var(--transitionDefault);

			&:hover {

				text-decoration-color: transparent;

			}

		}

	}

	.social {

		/* display: flex; */
		display: none;
		justify-content: center;

		svg {

			width: 56px;
			height: 56px;

		}

		@media $smWidth {

			gap: 24px;
			margin-top: 24px;

		}

	}

	&--2 {

		padding: 34px 50px 16px;

		@media $smWidth {

			padding: 32px 24px 0;

		}

	}

	&--2 &__title {

		margin-bottom: 28px;

	}

	&--2 &__foot {

		margin: 28px 0 20px;

	}

}