.header {

	flex-shrink: 0;
	margin: var(--indent) 0;

	&__flex {

		display: flex;
		align-items: center;

	}

	&__logo {

		flex-grow: 1;
		padding: 0 8px;

		@media $mdWidth {

			img {

				width: auto;
				height: 16px;

			}

		}

	}

	.lang {

		@media $desktop {

			margin: 0 24px;

		}

	}

	&__menu {

		@media $mdWidth {

			display: none;

		}

		ul {

			display: flex;
			gap: 12px;

		}

		a {

			color: rgba( 255, 255, 255, .5 );
			font-size: 16px;
			line-height: 1.5;
			display: block;
			padding: 12px 32px;
			border-radius: 16px;
			transition: var(--transitionDefault);

			&:hover {

				color: #fff;
				background-color: rgba( 255, 255, 255, .04 );

			}

		}

	}

	&__user {

		margin-left: 50px;

		@media $mdWidth {

			.btn {

				font-size: 12px;
				line-height: 16px;
				padding: 10px 20px;

			}

		}

	}

}