.how-work {

	margin-bottom: var(--indent);

	&__title {

		text-align: center;
		margin-bottom: 36px;

	}

	&__steps {

		display: flex;
		gap: 68px;

	}

	&__item {

		display: flex;
		flex-direction: column;

	}

	&__head {

		margin-bottom: 24px;

	}

	&__text {

		font-size: 20px;
		line-height: 28px;
		opacity: 0.5;
		margin-bottom: 24px;

	}

	&__img {

		margin-top: auto;

	}

}
