.last-screen {

	.box {

		&::before {

			background-image: url(/img/last-screen/bg.png);
			background-size: cover;

		}

	}

	&__box {

		display: flex;
		justify-content: space-between;
		padding: 16px;

	}

	&__content {

		width: 680px;
		display: flex;
		flex-direction: column;
		margin: 24px 28px;

	}

	&__form {

		width: 524px;

	}

	&__title {

		b {

			font-weight: 800;

		}

	}

	&__games {

		margin: 40px 0;
		display: flex;
		gap: 16px;

		li {

			padding: 9px;
			border-radius: 16px;

			border: 1px solid;
			border-image-source: var(--whiteGrad);
			background-image: var(--whiteGrad);
			background-color: rgba(255, 255, 255, 0.04);

		}

	}

	&__users {

		margin-top: auto;
		align-items: center;
		display: flex;
		gap: 16px;

		&-avatar {

			display: flex;
			flex-direction: row-reverse;
			padding-left: 16px;

			li {

				margin-left: -18px;
				border-radius: 50%;
				overflow: hidden;
				border: 4px solid #202022;

			}

		}

		&-count {

			font-weight: 700;

		}

		&-text {

			font-size: 16px;
			line-height: 20px;
			opacity: .5;

		}

	}

}