.last-screen {

	.box {

		&::before {

			background-image: url(/img/last-screen/bg.png);
			background-size: cover;

		}

	}

	&__box {

		@media $desktop {

			display: flex;
			justify-content: space-between;
			padding: 16px;

		}

		@media $mdWidth {

			padding: 36px 24px;

		}

	}

	&__content {

		width: 680px;
		display: flex;
		flex-direction: column;
		margin: 24px 28px;

		@media $mdWidth {

			text-align: center;
			margin: auto;

		}

	}

	&__form {

		width: 524px;

		@media $lgWidth {

			width: 480px;

		}

		@media $mdWidth {

			width: auto;

			.form__fieldset {

				width: 556px;
				margin: auto;

			}

		}

	}

	&__title {

		b {

			font-weight: 800;

		}

	}

	&__games {

		margin: 40px 0;
		display: flex;
		gap: 16px;

		@media $mdWidth {

			justify-content: center;

		}

		li {

			padding: 9px;
			border-radius: 16px;

			border: 1px solid;
			border-image-source: var(--whiteGrad);
			background-image: var(--whiteGrad);
			background-color: rgba(255, 255, 255, 0.04);

		}

	}

	&__users {

		margin-top: auto;
		align-items: center;
		display: flex;
		gap: 16px;

		@media $mdWidth {

			display: none;

		}

		&-avatar {

			display: flex;
			flex-direction: row-reverse;
			padding-left: 16px;

			li {

				margin-left: -18px;
				border-radius: 50%;
				overflow: hidden;
				border: 4px solid #202022;

			}

		}

		&-count {

			font-weight: 700;

		}

		&-text {

			font-size: 16px;
			line-height: 20px;
			opacity: .5;

		}

	}

}