.recent-games {

	margin-bottom: var(--indent);

	&__box {

		margin: 28px;

	}

	&__title {

		margin-bottom: 32px;

	}

	&-table {

		width: 100%;
		border: 0;
		border-collapse: separate;
		border-spacing: 0 12px;

		thead {

			th {

				color: #7B7B7B;
				font-size: 12px;
				font-weight: 400;
				text-transform: uppercase;
				line-height: 16px;
				width: 180px;
				padding: 8px 0;

				&:first-child {

					text-align: left;
					padding-left: 16px;
					width: auto;

				}

			}

		}

		tbody {

			td {

				font-family: Unbounded;
				font-size: 14px;
				font-weight: 600;
				line-height: 20px;
				text-align: center;
				padding: 16px;
				background-color: rgba( 255, 255, 255, .04);

				&:first-child {

					border-radius: 16px 0 0 16px;

				}

				&:last-child {

					border-radius: 0 16px 16px 0;

				}

			}

		}

		tfoot {

			.btn {

				width: 100%;
				background-color: rgba( 255, 255, 255, .02);
				font-size: 16px;
				line-height: 24px;
				margin-top: 2px;

			}

		}

		&__user {

			display: flex;
			align-items: center;
			font-family: Unbounded;
			font-size: 14px;
			font-weight: 500;
			line-height: 24px;
			gap: 20px;

			img {

				border-radius: 50%;

			}

		}

		&__rate {

			display: flex;
			justify-content: center;

			span {

				padding: 4px 16px;
				font-size: 16px;
				border-radius: 100px;
				text-transform: uppercase;
				color: var(--green);
				background-color: rgba(68, 201, 138, 0.08);

			}

		}

	}

}