.select {

	display: block;
	position: relative;
	transition: z-index 0s var(--transitionDefault);

	&.is-open {

		z-index: 5;
		transition: none;

	}

	&.is-open &__value {

		border-color: var(--orange);
		box-shadow: 0 0 0 1px var(--orange);

		svg {

			transform: scaleY(-1);

		}

	}

	&.is-open &__list {

		opacity: 1;
		pointer-events: auto;
		transform: translate3d(0, 4px, 0);
		transition: opacity var(--transitionDefault) 0s, transform var(--transitionDefault) 0s;

	}

	&__value {

		display: flex;
		align-items: center;
		justify-content: space-between;
		position: relative;
		cursor: pointer;
		padding: 11px 15px 11px 15px;
		font-size: 16px;
		min-width: 100px;
		line-height: 24px;
		font-weight: 500;
		color: currentColor;
		transition: color var(--transitionDefault);
		user-select: none;
		z-index: 1;
		display: flex;
		align-items: center;

		background-color: rgba(255, 255, 255, .13);
		border: 1px solid var(--border);
		border-radius: 12px;

		@media $mdWidth {

			pointer-events: none;

		}

		svg {

			transition: var(--transitionDefault);
			pointer-events: none;
			margin-left: 10px;
			flex-shrink: 0;
			fill: none;
			stroke: currentColor;

		}

		&-inner {

			white-space: nowrap;
			display: block;
			max-width: 100%;
			text-overflow: ellipsis;
			overflow: hidden;

		}

	}

	&__list {

		position: absolute;
		top: 100%;
		padding: 4px;
		left: 0;
		border-radius: 12px;
		background-color: #212123;
		opacity: 0;
		overflow: hidden;
		z-index: 1;
		pointer-events: none;
		transform: translate3d(0, 0, 0);
		transition: opacity var(--transitionDefault) 0s, transform 0s var(--transitionDefault);
		min-width: 100%;

		@media $mdWidth {

			display: none;

		}

		&-item {

			width: 100%;
			display: block;
			text-align: left;
			cursor: pointer;
			position: relative;
			color: rgba(255,255,255,.5);

			&:hover {

				color: #fff;

			}

			span {

				display: block;
				font-size: 16px;
				font-weight: 400;
				line-height: 1.5;
				padding: 8px 16px;
				border-radius: 8px;
				transition: var(--transitionDefault);

			}

			input:checked + span {

				background-color: #2B2B2E;

			}

		}

	}

	select {

		border: 1px solid var(--border);
		padding: 8px 14px;
		line-height: 20px;
		font-size: 16px;
		min-width: 128px;
		height: 48px;
		border-radius: 3px;

	}

	&.is-ready select {

		position: absolute;
		width: 100%;
		height: 48px;
		top: 0;
		left: 0;
		opacity: 0;

		@media $desktop {

			pointer-events: none;

		}

	}

}