.stat-top {

	&__item {

		display: flex;
		align-items: center;
		border-radius: 16px;
		padding: 8px;
		gap: 8px;
		background-color: rgba( 255, 255, 255, .04);

		& + & {

			margin-top: 12px;

		}

	}

	&__foot {

		flex-shrink: 0;
		padding: 8px 16px;
		border-radius: 8px;
		background-color: rgba( 255, 255, 255, .04);
		text-align: center;
		margin-left: auto;
		min-width: 102px;

		@media $smWidth {

			min-width: 92px;

		}

	}

	&__price {

		font-size: 14px;
		font-weight: 500;
		line-height: 20px;
		margin-bottom: 2px;
		opacity: .5;

		@media $smWidth {

			margin-bottom: 1px;

		}

	}

	&__rate {

		font-family: Unbounded;
		font-weight: 500;
		line-height: 24px;
		color: var(--orange);

	}

	&__head {

		width: 60px;
		flex-shrink: 0;

		@media $smWidth {

			width: 52px;

			img {

				width: 52px;
				height: 52px;

			}

		}

	}

	&__body {

		padding: 0 8px;
		align-self: center;

		@media $smWidth {

			padding: 0 2px;

		}

	}

	&__name {

		font-size: 16px;
		font-weight: 500;
		line-height: 24px;
		display: flex;
		align-items: center;

		&.in-progress::after {

			width: 8px;
			height: 8px;
			content: '';
			display: inline-block;
			border-radius: 50%;
			background-color: var(--green);
			margin-left: 8px;
			flex-shrink: 0;

		}

		@media $smWidth {

			&-value {

				font-size: 0;
				display: flex;

				&::before {

					content: attr(data-short);
					font-size: 16px;

				}

			}

		}

	}

	&__time {

		font-size: 14px;
		font-weight: 500;
		line-height: 20px;
		opacity: .5;
		margin-top: 4px;

	}

}