.tabs {

	border-radius: 12px;
	background-color: rgba( 255, 255, 255, .02);

	&__nav {

		display: flex;

		&-item {

			flex-basis: 50%;
			border-radius: 12px 12px 0 0;

			@media $mdWidth {

				flex-grow: 1;
				flex-basis: auto;

			}

			&.is-active {

				background-color: rgba( 255, 255, 255, .02);

			}

			&:not(.is-active) {

				color: rgba( 255, 255, 255, .5);

			}

		}

	}

	&__btn {

		display: flex;
		align-items: center;
		gap: 16px;
		padding: 12px 20px;

		@media $mdWidth {

			padding: 10px 16px;

		}

	}

	&__item {

		border-radius: 12px;
		background-color: rgba( 255, 255, 255, .02);
		padding: 8px 20px;

		@media $mdWidth {

			padding: 16px;

		}

		&:first-child.is-active {

			border-radius: 0 12px 12px 12px;

		}

		&:last-child.is-active {

			border-radius: 12px 0 12px 12px;

		}

	}

	&__item:not(.is-active) {

		display: none;

	}

}