:root {

	--color: #fff;
	--green: #44C98A;
	--gray: #585858;
	--orange: #FE7818;
	--orangeGrad: linear-gradient(64.8deg, #FF6B22 18%, #FD810F 105%);
	--bg: #1C1C1E;

	--border: rgba(255, 255, 255, .1);
	--transitionDefault: 0s;

	--margin: 44px;
	--space: 36px;
	--gap: 24px;
	--indent: 24px;

}

$desktop: (min-width: 1200px);
$tablet:  (min-width: 728px) and (max-width: 1199px);
$mdWidth: (max-width: 1199px);
$smWidth: (max-width: 727px);
$xsWidth: (max-width: 359px);

.color-green {

	color: var(--green);

}